/* 210803 info */
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.info-container {
    background: #fff;
    line-height: normal;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
    overflow: hidden;
    position: relative;
    color: #141515;
}

.info-container .info-basic {
    display: flex;
    padding: 18px 16px 15px;
}

.info-container .info-basic h2 {
    font-size: 16px;
    font-weight: 700;
}

.member-type {
    font-size: 12px;
    font-weight: 400;
    width: 75px;
    height: 30px;
    margin-top: 3px;
    border: 1px solid #0152cc;
    border-radius: 4px;
    display: block;
    line-height: 30px;
    margin-left: auto;
    text-align: center;
    color: #0152cc;
}

.info-container ul {
    background: #fff;
    border-top: 1px solid #f2f2f2;
}

.info-container ul li {
    height: 48px;
    border-top: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    /* padding: 0 16px; */
}

.info-container ul li a {
    color: #2e2e2e;
    font-size: 14px;
    position: relative;
}

.image-listview>li a.item:after {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='10px' height='16px' viewBox='0 0 10 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='Listview' transform='translate(-112.000000, -120.000000)' stroke='%23A1A1A2' stroke-width='2.178'%3E%3Cpolyline id='Path' points='114 122 120 128 114 134'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    width: 16px;
    height: 16px;
    content: "";
    position: absolute;
    right: 12px;
    opacity: 0.5;
    top: auto;
    margin-top: auto;
}

.info-container.one-line ul,
.info-container.one-line ul li {
    border-top: none;
}

li.col-6:nth-child(odd) {
    border-right: 1px solid #f2f2f2;
}


.f-r {
    float: right;
}

.full-container {
    line-height: normal;
    position: relative;
    color: #141515;
    border-top: 1px solid #e6e6e6;
}

.full-container ul li {
    border-bottom: 1px solid #e6e6e6;
    width: 50%;
    float: left;
    background: #fff;
}

/* 배너이미지 */
.banner_wrap img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}