<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default(scriptName='/assets/js/crevill/staffListScript.js')}">

<th:block layout:fragment="content">
	<div class="page-body">
		<th:block th:replace="fragments/topIconMenu :: topIconMenuFragment(${menu})"></th:block>
		<!-- Container-fluid starts-->
		<div class="container-fluid">
			<div class="row">
				<!-- Zero Configuration  Starts-->
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table class="display" id="basic-1">
									<thead>
										<tr>
											<th>사원번호</th>
											<th>업무구분</th>
											<th>성함</th>
											<th>근무상태</th>
											<th>입사일</th>
											<th>퇴사일</th>
											<th>전화번호</th>
											<th>근무처</th>
											<th>직원정보</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="staffList : ${staffList}">
											<td th:text="${staffList.staffId}"></td>
											<td th:text="${staffList.workerType}"></td>
											<td th:text="${staffList.name}"></td>
											<td th:text="${staffList.status}"></td>
											<td th:text="${staffList.startDate}"></td>
											<td th:text="${staffList.endDate}"></td>
											<td th:text="${staffList.telNo}"></td>
											<td th:text="${staffList.storeName}"></td>
											<td>
												<span class="badge badge-primary" th:attr="onclick=|staffUpdate('${staffList.staffId}','${staffList.storeId}')|">정보수정</span>
												<a href="" type="button" th:attr="onclick=|staffDelete('${staffList.staffId}')|">
													<span class="badge badge-warning">퇴사처리</span>
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Zero Configuration  Ends-->
		</div>
	</div>
</th:block>
</html>