<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/defaultCommon}">

<th:block layout:fragment="content">
	<div id="appCapsule">
         <div class="listview-title mt-2">경험이 많은 원어민이 아이들에게 놀이를 통하여 영어능력을 올려줍니다.</div>
         <ul class="listview image-listview media mb-2">
         	 <th:block th:each="list : ${list}">
             <li class="multi-level">
                 <a href="#" class="item">
                     <div class="imageWrapper">
                         <img th:src="@{/common/getImage(imageIdx=${list.pictureIdx})}" alt="놀이사진" class="imaged w64">
                     </div>
                     <div class="in">
                         <div th:text="${list.name}"></div>
                     </div>
                 </a>
<!--                  <ul class="listview simple-listview"> -->
<!--                     <li th:text="${list.description}"></li> -->
<!--                 </ul> -->
             </li>
             </th:block>
         </ul>
    </div>
	<!-- * App Capsule -->
</th:block>
</html>