<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default(scriptName='/assets/js/crevill/instructorUpdateScript.js')}">

<th:block layout:fragment="content">
	<div class="page-body" id="page-body">
		<th:block th:replace="fragments/topIconMenu :: topIconMenuFragment(${menu})"></th:block>
		<!-- Container-fluid starts-->
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<form class="form theme-form" id="instructorForm" @submit.prevent="validateBeforeSubmit" action="/staff/nsUpdate.proc" method="post" enctype="multipart/form-data">
					<input type="hidden" id="nsId" name="nsId" th:value="${info.nsId}">
					<input type="hidden" id="originCellPhone" name="originCellPhone" th:value="${info.telNo}">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<div class="form-group">
										<label for="nationality">국적</label>
											<select class="form-control form-control-lg" v-validate="'required'" id="nationality" name="nationality">
											<option th:each="nationalCode : ${nationalCode}" th:text="${nationalCode.codeValue}" th:value="${nationalCode.codeKey}" th:selected="${info.nationality == nationalCode.codeKey}"></option>
										</select>
										<label class="col-form-label-sm" for="nationality" v-if="errors.has('nationality')">{{ errors.first('nationality') }}</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="form-group">
										<label class="col-form-label-sm" for="name">성함(영문발음을한글로 작성)</label>
										<input class="form-control form-control-lg" v-validate="'required'" id="name" name="name" type="text" placeholder="성함" th:value="${info.name}">
										<label class="col-form-label-sm" for="name" v-if="errors.has('name')">{{ errors.first('name') }}</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="form-group">
										<label class="col-form-label-sm" for="fullName">FULL NAME</label>
										<input class="form-control form-control-lg" id="fullName" name="fullName" type="text" placeholder="Name" th:value="${info.fullName}">
										<label class="col-form-label-sm" for="fullName" v-if="errors.has('fullName')">{{ errors.first('fullName') }}</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="form-group">
										<label for="telNo">연락처</label>
										<input class="form-control" v-validate="'required|numeric|min:10|max:11|chkTelNo'" id="telNo" name="telNo" type="text" placeholder="- 없이 입력" th:value="${info.telNo}">
										<label class="col-form-label-sm" for="telNo" v-if="errors.has('telNo')">{{ errors.first('telNo') }}</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="form-group">
										<label class="col-form-label-sm" for="address">주소</label>
										<input class="col-form-label-sm" type="text" id="postcode" placeholder="우편번호">
										<input type="button" onclick="execDaumPostcode()" value="우편번호 찾기"><br>
										<input type="text" v-validate="'required'" id="roadAddress" name="roadAddress" placeholder="도로명주소" th:value="${info.roadAddress}">
										<span id="guide" style="color:#999;display:none"></span>
										<input type="text" v-validate="'required'" id="detailAddress" name="detailAddress" placeholder="상세주소" th:value="${info.detailAddress}">
										<input type="text" id="extraAddress" placeholder="참고항목">
										<label class="col-form-label-sm" for="address" v-if="errors.has('roadAddress')">{{ errors.first('roadAddress') }}</label>
										<label class="col-form-label-sm" for="address" v-if="errors.has('detailAddress')">{{ errors.first('detailAddress') }}</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="form-group">
										<label class="col-form-label-sm" for="startDate">입사일</label>
										<input class="form-control form-control-lg" v-validate="'required|date_format:yyyyMMdd'" id="startDate" name="startDate" type="text" th:value="${info.startDate}">
										<label class="col-form-label-sm" for="startDate" v-if="errors.has('startDate')">{{ errors.first('startDate') }}</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="form-group">
										<label for="exampleFormControlSelect29">근무지점</label>
										<select class="form-control form-control-lg" id="storeId" name="storeId">
											<option th:each="storeList : ${storeList}" th:text="${storeList.storeName}" th:value="${storeList.storeId}" th:selected="${info.storeId == storeList.storeId}"></option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h5>사진 및 서류 등록</h5>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">사진등록</label>
										<div class="col-sm-9">
											<img class="img-fluid top-radius-blog" th:src="@{/common/getImage(imageIdx=${info.pictureIdx})}" style="width: 10%;float: left;">
											<input class="form-control" type="file" id="picture" name="picture" style="width: 90%;">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">범죄경력증명서</label>
										<div class="col-sm-9">
											<img class="img-fluid top-radius-blog" th:src="@{/common/getImage(imageIdx=${info.criminalRecordsIdx})}" style="width: 10%;float: left;">
											<input class="form-control" type="file" id="criminalRecords" name="criminalRecords" style="width: 90%;">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">이력서(option)</label>
										<div class="col-sm-9">
											<input class="form-control" type="file" id="resume" name="resume">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-footer">
							<button class="btn btn-primary" type="submit">수정</button>
							<input class="btn btn-light" type="reset" value="취소" onclick="cancel();">
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>