<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default(scriptName='/assets/js/crevill/reservationScript.js')}">

<th:block layout:fragment="content">
<!-- 	<div class="extraHeader p-0"> -->
<!--         <div class="form-wizard-section"> -->
<!--             <a href="reverve.html" class="button-item active"> -->
<!--                 <strong>1</strong> -->
<!--                 <p>바우처 확인</p> -->
<!--             </a> -->
<!--             <a href="reverve.html" class="button-item"> -->
<!--                 <strong> -->
<!--                     <ion-icon name="checkmark-outline"></ion-icon> -->
<!--                 </strong> -->
<!--                 <p>완료</p> -->
<!--             </a> -->
<!--         </div> -->
<!--     </div> -->
	<div id="appCapsule" class="extra-header-active">
        <div class="section mb-2 mt-2 full">
            <div class="wide-block pt-2 pb-2">
                <form class="form theme-form" id="reservationForm" @submit.prevent="validateBeforeSubmit" th:action="@{/reservation/regist.proc}" method="post">
                <input type="hidden" id="cellPhone" name="cellPhone" th:value="${session.memberVo?.cellPhone}">
                    <div class="form-group boxed">
                        <div class="input-wrapper">
                            <label class="label" for="city4">이용매장선택</label>
                            <select class="form-control custom-select" id="storeId" name="storeId">
                           		<th:block th:each="list : ${storeList}">
								<option th:value="${list.storeId}" th:text="${list.storeName}" th:attr="data-time=${list.cntTimeClass}"></option>
								</th:block>
                            </select>
                        </div>
                    </div>
                    <div class="form-group boxed">
                        <div class="input-wrapper">
                            <label class="label" for="name1">이용날짜</label>
                            <input type="date" class="form-control" id="scheduleStart" name="scheduleStart">
                            <i class="clear-input">
                                <ion-icon name="close-circle"></ion-icon>
                            </i>
                        </div>
                    </div>
                    <div class="form-group boxed">
                        <div class="input-wrapper">
                            <label class="label" for="city4">이용구분</label>
                            <select class="form-control custom-select" id="classType" name="classType">
                                <option value="CLASS_A">CLASS</option>
                                <option value="CLASS_D">TUTORING</option>
                                <option value="CLASS_B">SPECIAL CAMP</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group boxed">
                        <div class="input-wrapper">
                            <label class="label" for="scheduleId">시간별 조회</label>
                            <select class="form-control custom-select" id="scheduleId" name="scheduleId">
                                <option value="">이용가능 시간 검색</option>
                                <template v-for="item in scheduleList">
                                	<option :value="item.scheduleId" :class="item.scheduleTime"><span>[{{item.reservationAvaCount}}]명 </span><span>{{item.playName}}</span>{{item.scheduleTime}}</option>
                                </template>
                            </select>
                        </div>
                    </div>
                    <div class="form-group boxed">
                        <div class="input-wrapper">
                            <label class="label" for="voucherNo">바우처 사용</label>
                            <select class="form-control custom-select" id="voucherNo" name="voucherNo">
                                <option value="">보유바우처 선택</option>
								<th:block th:each="voucherList : ${voucherList}">
								<option th:value="${voucherList.voucherNo}" th:text="|[잔여:${voucherList.timeLeftHour}] ${voucherList.ticketName}|" th:attr="data-ticketname=${voucherList.ticketName}"></option>	
								</th:block>
                            </select>
                        </div>
                    </div>
                    <div class="section-title">예약정보</div>
                    <div class="wide-block pt-2 pb-2">
                        <div class="chip chip-media">
                            <i class="chip-icon bg-primary">
                                <ion-icon name="person"></ion-icon>
                            </i>
                            <span class="chip-label" th:text="${session.memberVo?.name}"></span>
                        </div>
                        <div class="chip chip-media">
                            <i class="chip-icon bg-danger">
                                <ion-icon name="pin"></ion-icon>
                            </i>
                            <span class="chip-label" id="storeNameSpan"></span>
                        </div>
                        <div class="chip chip-media">
                            <i class="chip-icon bg-warning">
                                <ion-icon name="alarm"></ion-icon>
                            </i>
                            <span class="chip-label" id="scheduleTimeSpan"></span>
                        </div>
                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">예약요청</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
	<!-- * App Capsule -->
</th:block>
</html>