<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/defaultReservation(scriptName='/assets/js/crevill/reservationShortScript.js')}">

<th:block layout:fragment="content">
     <div id="appCapsule">
     	<form class="form theme-form" id="reservationForm" @submit.prevent="validateBeforeSubmit" th:action="@{/reservation/regist.proc}" method="post">
     	<input type="hidden" id="cellPhone" name="cellPhone" th:value="${cellPhone}">
        <div class="section full mt-0">
            <img src="http://ssem.myds.me/rinfo2.png" alt="image" class="imaged square w-100">  
        </div>
        <div class="section mt-0">
            <div class="section-title"><font color="blue">바우처선택</font></div>
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                <div class="col-6" th:each="list, i : ${voucherList}">
                    <div class="frb-group">
                        <div class="frb frb-success">
                            <input type="radio" th:id="'voucherNo' + ${i.index}" name="voucherNo" th:value="${list.voucherNo}" th:data-storeId="${list.storeId}" th:data-timeLeftHour="${list.timeLeftHour}" v-validate="'required'">
                            <label th:for="'voucherNo' + ${i.index}">
                                <span class="frb-title" th:text="${list.ticketName}"></span><br>
                                <span class="frb-description" style="font-size: 10px;" th:text="|${list.storeName} 잔여${list.timeLeftHour} 시간|"></span>
                            </label>
                            <label class="col-form-label-sm" for="voucherNo" v-if="errors.has('voucherNo')">{{ errors.first('voucherNo') }}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-title"><font color="blue">아동선택</font></div>
            <code>아동 1인만 예약이 가능합니다.</code>
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                <th:block th:each="list, i : ${childList}">
                <div class="col-4">
                    <div class="frb frb-info">
                        <input type="checkbox" th:id="'childName' + ${i.index}" name="childName" th:value="${list.childName}" v-validate="'required'">
                        <label th:for="'childName' + ${i.index}">
                            <span class="frb-title" th:text="${list.childName}"></span>
                        </label>
                        <label class="col-form-label-sm" for="childName" v-if="errors.has('childName')">{{ errors.first('childName') }}</label>
                    </div>
                </div>
                </th:block>
            </div>
            <div class="section-title"><font color="blue">놀이구분선택</font></div>
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                <th:block th:each="list,i : ${voucherAttributeList}">
                <div class="col-4">
                    <div class="frb-group">
                        <div class="frb frb-success">
                        	<th:block th:if="${list.attribute == 'CLASS'}">
                        		<input type="radio" th:id="'classType-' + ${i.index}" name="classType" value="CLASS_A">
                        	</th:block>
                        	<th:block th:if="${list.attribute == 'SPECIAL CAMP'}">
                        		<input type="radio" th:id="'classType-' + ${i.index}" name="classType" value="CLASS_B">
                        	</th:block>
                        	<th:block th:if="${list.attribute == 'TUTORING'}">
                        		<input type="radio" th:id="'classType-' + ${i.index}" name="classType" value="CLASS_D">
                        	</th:block>
                            <label th:for="'classType-' + ${i.index}">
                            	<th:block th:if="${list.attribute == 'CLASS'}">
                                	<span class="frb-title" style="font-size: 10px;">클래스</span>
                                </th:block>
                                <th:block th:if="${list.attribute == 'SPECIAL CAMP'}">
                                	<span class="frb-title" style="font-size: 10px;">스페셜캠프</span>
                                </th:block>
                                <th:block th:if="${list.attribute == 'TUTORING'}">
                                	<span class="frb-title" style="font-size: 10px;">튜터링</span>
                                </th:block>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-title"><font color="blue">센터선택</font></div>
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                <div class="form-group basic">
                    <div class="input-wrapper">
                        <select class="form-control custom-select" id="storeId" name="storeId">
                            <option th:each="list : ${storeList}" th:value="${list.storeId}" th:text="${list.storeNameShort}"></option>
                        </select>
                    </div>
                </div>
            </div><br>
            <div class="section-title"><font color="blue">선택결과</font></div>
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                <div class="col-12">
                    <p style="font-size:7px">
                        <span class="badge badge-primary">{{voucherTimeLeftHour}}시간</span> |
                        <span class="badge badge-info">{{reservationCnt}}명</span> |
                        <span class="badge badge-info">{{classType}}</span> |
                        <span class="badge badge-info">{{storeId}}</span>
                    </p>
                </div>
            </div><br>
            <div class="section-title"><font color="blue">스케쥴조회</font></div>
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                <div class="col-12">
                    <button id="cal" data-toggle="modal" data-target="#ModalForm" type="button" class="btn btn-primary btn-lg btn-block">
                        <ion-icon name="calendar-outline"></ion-icon>
                    </button>
                </div>
            </div><br>
            <div class="section-title">{{scheduleText}}</div>
<!--             <code>스케쥴이 마감되었거나 등록되지 않았습니다.</code> -->
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
            	<template v-for="(item, index) in scheduleList">
                	<div class="col-12">
                    	<div class="frb frb-primary">
                        	<input type="checkbox" :id="'scheduleId-' + index" name="scheduleId" :value="item.scheduleId" v-validate="'required'">
                            <label :for="'scheduleId-' + index">
	                            <span class="frb-title" v-if="classType == '튜터링'">{{item.scheduleStart}} | 잔여 {{item.tutoringCnt}} | 튜터링</span>
	                            <span class="frb-title" v-else>{{item.scheduleStart}} | 잔여 {{item.reservationCnt}} | {{item.playName}}</span>
<!-- 	                            <span class="frb-description" style="font-size: 9px;">{{item.subTopic}}</span> -->
                            </label>
                        </div>
                    </div>
            	</template>
            </div>
            <br><br>

            <div class="modal fade modalbox" id="ModalForm" data-backdrop="static" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">예약가능일 조회</h5>
                            <input type="hidden" id="scheduleStart" name="scheduleStart">
                            <a href="javascript:;" data-dismiss="modal">닫기</a>
                        </div>
                        <div class="modal-body">
                            <div class="login-form">
                                <div class="section full mb-3">
                                    <div class="page">
                                        <div class="page-content">
                                            <div id="calendar"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fixed-footer">
            <div class="row">
                <div class="col-12">
                    <button id="registBtn" class="btn btn-primary btn-lg btn-block" type="submit">등록완료</button>
                </div>
            </div>
        </div>
        <div class="modal fade dialogbox" id="DialogReserveSuccess" data-backdrop="static" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-icon text-success">
                        <ion-icon name="checkmark-circle"></ion-icon>
                    </div>
                    <div class="modal-header">
                        <h5 class="modal-title">예약완료</h5>
                    </div>
                    <div class="modal-body">
                        1회권 예약이 완료되었습니다.
                    </div>
                    <div class="modal-body">
                        1회권은 후불입니다. NO SHOW 발생 시 향후 이용에 제한이 있을 수 있습니다. 
                    </div>
                    <div class="modal-footer">
                        <div class="btn-inline">
                            <a href="#" class="btn" data-dismiss="modal">닫기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</th:block>

</html>