<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/defaultMember(scriptName='/assets/js/crevill/memberInfoScript.js')}">

<th:block layout:fragment="content">
	 <div id="appCapsule">
        <div class="section mt-2">
            <section class="info-container">
                <div class="info-basic">
                    <h2><span th:text="|${info.name} 고객님|"></span></h2>
                    <a href="" class="member-type" th:text="${memberGrade}"></ion-icon></a>
                </div>
                <ul class="image-listview">
                    <li>
                        <a th:href="@{/member/voucherList.view}" class="item">
                            <div class="left">
                                <ion-icon name="wallet-outline" style="height:20px; width:20px; display: inline-block; margin-bottom:-5px; margin-right:4px;"></ion-icon>
                                <span>보유 바우처</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/member/visitList.view}" class="item">
                            <div class="left">
                                <ion-icon name="receipt-outline" style="height:20px; width:20px; display: inline-block; margin-bottom:-5px; margin-right:4px;"></ion-icon>
                                <span>매장 방문 이력</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/member/promotionVoucherList.view}" class="item">
                            <div class="left">
                                <ion-icon name="gift-outline" style="height:20px; width:20px; display: inline-block; margin-bottom:-5px; margin-right:4px;"></ion-icon>
                                <span>프로모션 적용</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </section>
        </div>

    <!--기존 자녀정보 페이지 링크-->
        <div class="section mt-2">
            <section class="info-container one-line">
                <ul class="image-listview">
                    <li>
                        <a href="#" class="item" th:attr="onclick=|childList()|">
                            자녀정보
                        </a>
                    </li>
                </ul>
            </section>
        </div>

        <div class="section mt-2">
            <section class="info-container one-line">
                <ul class="image-listview row" style="margin-left: 0px;margin-right: 0px;">
                    <li class="col-6">
                        <a href="#" class="item" th:attr="onclick=|updateMemberInfo('${info.qrCode}')|">
                            회원정보 수정
                        </a>
                    </li>
                    <li class="col-6">
                        <a th:href="@{/member/passwordChange.view}" class="item">
                            비밀번호 수정
                        </a>
                    </li>
                </ul>
            </section>
        </div>

        <div class="banner_wrap mt-2" style="height: 60px;">
            <img src="http://kidsfactory2021.cdn3.cafe24.com/notice-banner-info.png" alt="">
        </div>

        <div class="section mt-2 full">
            <section class="full-container full">
                <ul class="image-listview row" style="margin-left: 0px;margin-right: 0px;">
                    <li class="col-6">
                        <a th:href="@{/member/privacyAgree.view}" class="item">
                            개인정보취급방침
                        </a>
                    </li>
                    <li class="col-6">
                        <a th:href="@{/member/terms.view}" class="item">
                            이용약관
                        </a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</th:block>
</html>