<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default(scriptName='/assets/js/crevill/memberListScript.js')}">

<th:block layout:fragment="content">
	<div class="page-body" id="page-body">
		<th:block th:replace="fragments/topIconMenu :: topIconMenuFragment(${menu})"></th:block>
		<!-- Container-fluid starts-->
		<div class="container-fluid">
			<div class="row">
				<!-- Zero Configuration  Starts-->
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table class="display" id="basic-1">
									<thead>
										<tr>
											<th>고객QR</th>
											<th>고객명</th>
											<th>상태</th>
											<th>가입일</th>
											<th>전화번호</th>
											<th>지역</th>
											<th>바우처보유</th>
											<th>최근방문매장</th>
											<th>회원정보</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="memberList : ${memberList}">
											<td th:text="${memberList.qrCode}"></td>
											<td th:text="${memberList.name}"></td>
											<td th:text="${memberList.status}"></td>
											<td th:text="${memberList.regDate}"></td>
											<td th:text="${memberList.cellPhone}"></td>
											<td th:text="${memberList.address}"></td>
											<td>&nbsp;</td>
											<td>&nbsp;</td>
											<td>
												
												<span class="badge badge-primary" th:attr="onclick=|updateMemberInfo('${memberList.qrCode}')|"><font style="cursor: hand;">정보수정</font></span>
<!-- 													<a href="" type="button"> -->
<!-- 													<span class="badge badge-secondary">바우처 사용이력</span> -->
<!-- 												</a> -->
												<a href="" type="button" th:attr="onclick=|deleteMemberInfo('${memberList.qrCode}','${memberList.cellPhone}')|">
													<span class="badge badge-warning">탈퇴</span>
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Zero Configuration  Ends-->
		</div>
	</div>
</th:block>
</html>