<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/defaultJoin(scriptName='/assets/js/crevill/termsScript.js')}">

<th:block layout:fragment="content">
	<div id="appCapsule">
		<div class="section inset mt-4">
	        <div class="wide-block pt-2 pb-2">
	            <h4>
	                <font style="color: blue;"> 이용약관과 개인정보 수집 및 이용에 대한 동의</font> 에 대한 안내를 읽고 동의 후 다음단계로 진행해 주세요.
	            </h4>
	            <code>(주)키즈팩토리는 고객님의 정보를 소중히 관리합니다.</code>
	        </div>
	    </div>
	    <div class="section mt-1 mb-2">
	        <ul class="listview simple-listview">
	            <li>
	                <div style="font-size: 12px;">크레빌 이용약관 (필수)</div>
	                <div class="custom-control custom-switch">
	                    <input type="checkbox" class="custom-control-input" id="terms1" name="terms1" value="Y">
	                    <label class="custom-control-label" for="terms1"></label>
	                </div>
	            </li>
	            <li>
	                <div><button type="button" class="btn btn-primary btn-sm mr-1" data-toggle="modal" data-target="#term1">약관보기</button></div>
	            </li>
	            <li>
	                <div style="font-size: 12px;">개인정보 수집 및 이용에 대한 동의 (필수)</div>
	                <div class="custom-control custom-switch">
	                    <input type="checkbox" class="custom-control-input" id="terms2" name="terms2" value="Y">
	                    <label class="custom-control-label" for="terms2"></label>
	                </div>
	            </li>
	            <li>
	                <div><button type="button" class="btn btn-primary btn-sm mr-1" data-toggle="modal" data-target="#term2">약관보기</button></div>
	            </li>
	        </ul>
	    </div>
	    <!--약관 modal-->
	    <div class="modal fade modalbox" id="term1" data-backdrop="static" tabindex="-1" role="dialog">
	        <div class="modal-dialog" role="document">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <h5 class="modal-title">이용약관</h5>
	                    <a href="javascript:;" data-dismiss="modal">닫기</a>
	                </div>
	                <div class="modal-body">
	                    <p>
	                        2021-05-01 신규
	                    </p>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="modal fade modalbox" id="term2" data-backdrop="static" tabindex="-1" role="dialog">
	        <div class="modal-dialog" role="document">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <h5 class="modal-title">개인정보 수집 및 이용에 대한 동의</h5>
	                    <a href="javascript:;" data-dismiss="modal">닫기</a>
	                </div>
	                <div class="modal-body">
	                    <div class="table-responsive">
	                        <table class="table" style="text-align: center;">
	                            <thead>
	                                <tr>
	                                    <th scope="col">목적</th>
	                                    <th scope="col">항목</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr>
	                                    <th scope="row">이용자 식별 및 본인 여부 확인</th>
	                                    <td>성명, 생년월일, 성별, 아이디, 비밀번호, 휴대전화번호, 이메일, CI, DI</td>
	                                </tr>
	                                <tr>
	                                    <th scope="row">고객 불만처리 등의 민원처리</th>
	                                    <td>성명, 아이디, 휴대전화번호, 서비스이용기록, 이메일</td>
	                                </tr>
	                                <tr>
	                                    <th scope="row">서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 콘텐츠 제공</th>
	                                    <td>성명, 아이디, 휴대전화번호, 서비스이용기록, 이메일</td>
	                                </tr>
	                                <tr>
	                                    <th scope="row">NICE평가정보(주)</th>
	                                    <td>회원가입 시 본인인증 서비스 제공</td>
	                                </tr>
	                            </tbody>
	                        </table>
	                        <code>* 보유기간 : 회원 탈퇴 후 6개월</code>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="form-button-group">
		<button type="button" class="btn btn-primary btn-block btn-lg" onclick="nextProcess();">다음</button>
	</div>
</th:block>
</html>