<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/defaultCommon}">

<th:block layout:fragment="content">
	<div id="appCapsule">
        <div class="section full mt-2 mb-2">
            <div class="section-title">이용약관</div>
            <div class="wide-block pt-2 pb-1">
                <h5 style="font-weight: bold;"><제1조 (목적)></h5>
				<h6 style="font-style: italic;">이 약관은 ㈜키즈팩토리(이하 “회사”라 함)가 제공하는 키즈팩토리 서비스(이하 “서비스”라 함)의 이용과 관련하여 “회사”와 회원과의 권리, 의무, 책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다. 이 약관은 컴퓨터 통신, 모바일 앱 등을 이용하는 경우에도 그 성질에 반하지 않는 한 준용됩니다.</h6>
            </div>
        </div>
    </div>
</th:block>
</html>