<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/defaultJoin(scriptName='/assets/js/crevill/termsScript.js')}">

<th:block layout:fragment="content">
	<div id="appCapsule">
		<div class="section full mt-2">
			<div class="section-title">회원약관 동의</div>
			<ul class="listview simple-listview">
				<li>
					<div>이용약관[필수]</div>
					<div class="custom-control custom-switch">
						<input type="checkbox" class="custom-control-input" id="terms1" name="terms1" value="Y">
						<label class="custom-control-label" for="terms1"></label>
					</div>
				</li>
				<div class="accordion" id="terms1ViewParent">
					<div class="item">
						<div class="accordion-header">
							<button class="btn collapsed" type="button" data-toggle="collapse" data-target="#terms1View">보기</button>
						</div>
						<div id="terms1View" class="accordion-body collapse" data-parent="#terms1ViewParent">
							<div class="accordion-content" th:replace="member/terms1 :: terms1Fragment"></div>
						</div>
					</div>
				</div>
				<li>
					<div>개인정보취급방침[필수]</div>
					<div class="custom-control custom-switch">
						<input type="checkbox" class="custom-control-input" id="terms2" name="terms2" value="Y">
						<label class="custom-control-label" for="terms2"></label>
					</div>
				</li>
				<div class="accordion" id="terms2ViewParent">
					<div class="item">
						<div class="accordion-header">
							<button class="btn collapsed" type="button" data-toggle="collapse" data-target="#terms2View">보기</button>
						</div>
						<div id="terms2View" class="accordion-body collapse" data-parent="#terms2ViewParent">
							<div class="accordion-content" th:replace="member/terms2 :: terms2Fragment"></div>
						</div>
					</div>
				</div>
				<li>
					<div>마케팅이용동의[선택]</div>
					<div class="custom-control custom-switch">
						<input type="checkbox" class="custom-control-input" id="terms3" name="terms3" value="Y">
						<label class="custom-control-label" for="terms3"></label>
					</div>
				</li>
				<div class="accordion" id="terms3ViewParent">
					<div class="item">
						<div class="accordion-header">
							<button class="btn collapsed" type="button" data-toggle="collapse" data-target="#terms3View">보기</button>
						</div>
						<div id="terms3View" class="accordion-body collapse" data-parent="#terms3ViewParent">
							<div class="accordion-content"  th:replace="member/terms3 :: terms3Fragment"></div>
						</div>
					</div>
				</div>
			</ul>
		</div>
	</div>
	<div class="form-button-group">
		<button type="button" class="btn btn-primary btn-block btn-lg" onclick="nextProcess();">다음</button>
	</div>
</th:block>
</html>