<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/defaultJoin(scriptName='/assets/js/crevill/memberScript.js')}">

<th:block layout:fragment="content">
	<!--<div class="appHeader no-border transparent position-absolute">
    </div>-->
    <div id="appCapsule">
        <div class="error-page">
            <div class="section full">
                <img src="https://ssem.myds.me/welcome_banner.gif" alt="image" class="imaged square w-100">
            </div><br><br>
            <h1 class="title">회원가입을 축하합니다.</h1>
            <div class="text mb-5">
                아직 바우처가 없는 고객님은 매장에서 상담 후 구입해 주시기 바랍니다.
            </div>
            <div class="fixed-footer">
                <div class="row">
                    <div class="col-12">
                        <a th:href="@{/login/login.view}" class="btn btn-primary btn-lg btn-block">로그인페이지 이동</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>