<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/defaultCommon">

<th:block layout:fragment="content">

    <div id="appCapsule">
        <div class="listview-title mt-1">공지사항</div>
        <ul class="listview image-listview">
            <li th:each="list : ${list}">
                <a th:href="@{/branches/noticeInfo.view(noticeId=${list.noticeId})}" class="item">
                    <img th:src="@{/assets/img/notice_icon.jpg}" alt="image" class="image">
                    <div class="in">
                        <div>
                            <header style="font-size:14px;" th:text="${list.title}"></header>
                            <footer style="font-size:11px;">크레빌</footer>
                            <footer style="color: blue;" th:text="${list.regDate}"></footer>
                        </div>
                        <span class="text-muted"></span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</th:block>

</html>