<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<th:block layout:fragment="content">
	<div class="page-body" id="page-body">
		<th:block th:replace="fragments/topIconMenu :: topIconMenuFragment(${menu})"></th:block>
		<!-- Container-fluid starts-->
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header">
							<h5>바우처 등록</h5>
						</div>
						<form class="form theme-form">
							<div class="card-body">
								<div class="row">
									<div class="col">
										<div class="form-group">
											<label for="exampleFormControlSelect29">바우처등급</label> <select
												class="form-control form-control-lg"
												id="exampleFormControlSelect29">
												<option>일반회원</option>
												<option>VIP회원[기명]</option>
												<option>VIP회원[무기명]</option>
												<option>1회권</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="form-group">
											<label class="col-form-label-sm" for="colFormLabelSm28">바우처
												티켓명</label> <input class="form-control form-control-lg"
												id="colFormLabelSm28" type="text" placeholder="예) 20시간권">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="form-group">
											<label class="col-form-label-sm" for="colFormLabelSm28">정가</label>
											<input class="form-control form-control-lg"
												id="colFormLabelSm28" type="text" placeholder="예) 500000">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="form-group">
											<label class="col-form-label-sm" for="colFormLabelSm28">판매금액</label>
											<input class="form-control form-control-lg"
												id="colFormLabelSm28" type="text" placeholder="예) 460000">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="form-group">
											<label class="col-form-label-sm" for="colFormLabelSm26">이용시간</label>
											<input class="form-control form-control-lg"
												id="colFormLabelSm28" type="number"
												placeholder="예)시간단위 숫자입력 / 무제한은 0">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="form-group">
											<label class="col-form-label-sm" for="colFormLabelSm26">유효기간</label>
											<input class="form-control form-control-lg"
												id="colFormLabelSm28" type="number"
												placeholder="예)1개월 - 1, 2개월 - 2 , 무제한 - 0">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="form-group">
											<label for="exampleFormControlSelect29">할인코드</label> <select
												class="form-control form-control-lg"
												id="exampleFormControlSelect29">
												<option>30%</option>
												<option>40%</option>
												<option>50%</option>
												<option>60%</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<p>바우처 티켓 속성</p>
									</div>
									<div class="col">
										<div class="form-group m-t-15 m-checkbox-inline mb-0">
											<div class="checkbox checkbox-dark">
												<input id="inline-1" type="checkbox"> <label
													for="inline-1">CLASS</label>
											</div>
											<div class="checkbox checkbox-dark">
												<input id="inline-2" type="checkbox"> <label
													for="inline-2">TUTORING</label>
											</div>
											<div class="checkbox checkbox-dark">
												<input id="inline-3" type="checkbox"> <label
													for="inline-3">SPECIAL CAMP</label>
											</div>
											<div class="checkbox checkbox-dark">
												<input id="inline-4" type="checkbox"> <label
													for="inline-4">가족공유</label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card-footer">
								<button class="btn btn-primary" type="submit"
									data-toggle="modal" data-target="#addchild_result">등록</button>
								<input class="btn btn-light" type="reset" value="RESET">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Container-fluid Ends-->
	</div>
</th:block>
</html>