<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default(scriptName='/assets/js/crevill/voucherListScript.js')}">

<th:block layout:fragment="content">
	<div class="page-body">
		<th:block th:replace="fragments/topIconMenu :: topIconMenuFragment(${menu})"></th:block>
		<!-- Container-fluid starts-->
		<div class="container-fluid">
			<div class="row">
				<!-- Individual column searching (text inputs) Starts-->
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive product-table">
								<table class="display" id="basic-1">
									<thead>
										<tr>
											<th>이미지</th>
											<th>바우처내용</th>
											<th>유효기간</th>
											<th>금액</th>
											<th>판매가</th>
											<th>생성매장</th>
											<th>등록일</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="list : ${list}">
											<td>
												<img th:src="@{/common/getImage(imageIdx=${list.imageIdx})}">
											</td>
											<td>
												<h6 th:text="${list.ticketName}"></h6>
												<span>
													<th:block th:each="attributeList, i : ${attributeList}">
														<span th:if="${i.index == 0}" class="badge badge-primary" th:text=${attributeList.attribute}></span>
														<span th:if="${i.index == 1}" class="badge badge-secondary" th:text=${attributeList.attribute}></span>
														<span th:if="${i.index == 2}" class="badge badge-success" th:text=${attributeList.attribute}></span>
														<span th:if="${i.index == 3}" class="badge badge-info" th:text=${attributeList.attribute}></span>
													</th:block>
												</span>
											</td>
											<td th:text=${list.endDate}></td>
											<td th:text=${list.price}></td>
											<td class="font-success" th:text=${list.salePrice}></td>
											<td class="font-success" th:text=${list.storeName}></td>
											<td th:text=${list.regDate}></td>
											<td>
												<button class="btn btn-danger btn-xs" type="button" data-original-title="btn btn-danger btn-xs" title="" th:attr="onclick=|voucherDelete('${list.voucherNo}')|">삭제</button>
												<button class="btn btn-success btn-xs" type="button" data-original-title="btn btn-danger btn-xs" title="" th:attr="onclick=|voucherUpdate('${list.voucherNo}')|">수정</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- Individual column searching (text inputs) Ends-->
			</div>
		</div>
		<!-- Container-fluid Ends-->
	</div>
</th:block>
</html>