<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default(scriptName='/assets/js/crevill/voucherSaleScript.js')}">

<th:block layout:fragment="content">
	<div class="page-body" id="page-body">
		<th:block th:replace="fragments/topIconMenu :: topIconMenuFragment(${menu})"></th:block>
		<!-- Container-fluid starts-->
		<div class="container-fluid">
			<form class="form theme-form" id="voucherSaleForm" @submit.prevent="validateBeforeSubmit" action="/voucher/voucherSale.proc" method="post" enctype="multipart/form-data">
			<div class="row">
				<div class="col-sm-12 col-xl-12">
					<div class="card-body">
						<div class="row">
							<div class="col">
								<div class="form-group">
									<label class="col-form-label-sm" for="colFormLabelSm26">고객전화번호 입력</label>
									<input class="form-control form-control-lg" v-validate="'required'" id="buyCellPhone" name="buyCellPhone" type="number" placeholder="전화번호">
									<label class="col-form-label-sm" for="buyCellPhone" v-if="errors.has('buyCellPhone')">{{ errors.first('buyCellPhone') }}</label>
								</div>
							</div>
                            <button class="btn btn-primary m-r-15" id="searchMemberNameBtn" type="button">검색</button>
						</div>
						<div class="card-footer text-right">
							<button class="btn btn-primary m-r-15" id="searchMemberNameBtn" type="button">검색</button>
						</div>
						<p id="searchResultName"></p>
						<br>
						<div class="row">
							<div class="col">
								<div class="form-group mb-0">
									<label for="exampleFormControlSelect31">바우처 구분</label>
									<select class="form-control form-control-sm" id="gradeType" name="gradeType">
                                        <option value="ANON">무기명</option>
										<option value="REGIST">기명</option>
									</select>
								</div>
							</div>
						</div>
						<br>
						<div class="row" id="usedChildrenNameDiv">
							<div class="col">
								<div class="form-group mb-0">
									<label for="exampleFormControlSelect31">기명일 경우 회원의[아동선택]</label>
									<select class="form-control form-control-sm" id="usedChildrenName" name="usedChildrenName">
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="card-body megaoptions-border-space-sm">
						<div class="row" id="voucherListDiv">
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-xl-12">
					<div class="card-body">
						<p>결제정보입력</p>
						<br>
						<div class="row">
							<div class="col">
								<div class="form-group mb-0">
									<label for="exampleFormControlSelect31">결제구분</label>
									<select class="form-control form-control-sm" id="pgType" name="pgType">
										<option value="DEPT">백화점</option>
										<option value="ROAD">로드샵 신용카드</option>
										<option value="CASH">현금영수증</option>
									</select>
								</div>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<label class="col-form-label-sm" for="colFormLabelSm26">승인번호입력</label>
									<input class="form-control form-control-lg" id="approvalNo" name="approvalNo" type="text" placeholder="승인번호 입력[향후 환불처리 시 필요">
								</div>
							</div>
						</div>
						<div class="card-footer text-right">
							<button class="btn btn-primary m-r-15" type="submit">바우처 등록</button>
						</div>
					</div>
				</div>
			</div>
			</form>
		</div>
		<!-- Container-fluid Ends-->
	</div>
</th:block>
</html>