<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/defaultCommon(scriptName='/assets/js/crevill/storeListScript.js')}">

<th:block layout:fragment="content">
	 <div id="appCapsule">
         <div class="section full">
            <div class="carousel-full owl-carousel owl-theme">
                <div class="item" style="padding-top: 41px;">
                    <img th:src="@{/assets/img/promo2.png}" alt="promotion" class="imaged w-100 square">
                </div>
                <div class="item" style="padding-top: 41px;">
                    <img th:src="@{/assets/img/promo2.png}" alt="promotion" class="imaged w-100 square">
                </div>
            </div>
        </div>
        <div class="section full mt-2">
            <div class="section mt-0">
                크레빌 센터 검색
            </div>
            <div class="wide-block pt-2 pb-2">
	            <div class="form-group searchbox">
	                <input type="text" class="form-control" placeholder="매장명입력" id="storeName" name="storeName">
	                <i class="input-icon">
	                    <ion-icon name="search-outline"></ion-icon>
	                </i>
	            </div>
            </div>
        </div>
        <ul class="listview image-listview media mb-2">
            <th:block th:each="list : ${list}">
            <li>
                <a th:href="@{/store/storeInfo.view(storeId=${list.storeId})}" class="item">
                    <div class="imageWrapper">
                        <img th:src="@{/common/getImage(imageIdx=${list.image1Idx})}" th:alt="|${list.storeName} 매장이미지|" class="imaged w64">
                    </div>
                    <div class="in">
                        <div>
                            <span th:text="${list.storeNameShort}"></span>
                            <span class="badge badge-light" style="font-size:10px; min-height: 18px;" th:text="${list.telNo}"></span>
                            <div class="text-muted">
                            	<th:block th:each="class, i : ${#strings.arraySplit(list.playName, ',')}">
                            		<th:block th:if="${i.count == i.size}">
                            			<span class="badge badge-primary" style="font-size:10px; min-height: 18px;" th:text="|${class}| "></span>
                            		</th:block>
                            		<th:block th:unless="${i.count == i.size}">
                            			<span class="badge badge-primary" style="font-size:10px; min-height: 18px;" th:text="|${class}| "></span> |
                            		</th:block>
                            	</th:block>
                            </div>
                            <div class="text-muted" style="text-decoration-line: underline;" th:text="${list.address}"></div>
                        </div>
                        <th:block th:if="${list.storeStatusCode == 'ACTIVE'}">
                        <span class="badge badge-primary">OPEN</span>
                        </th:block>
                        <th:block th:if="${list.storeStatusCode == 'INACTIVE'}">
                        <span class="badge badge-danger">CLOSE</span>
                        </th:block>
                    </div>
                </a>
            </li>
            </th:block>
        </ul>
    </div>
	<!-- * App Capsule -->
</th:block>
</html>