<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/defaultStore(scriptName='/assets/js/crevill/storeListScript.js')}">

<th:block layout:fragment="content">
	 <!-- loader -->
    <div id="loader">
        <div class="spinner-border text-primary" role="status"></div>
    </div>
    <!-- * loader -->

    <!-- App Header -->
    <div class="appHeader bg-primary text-light">
        <div class="left">
            <a href="javascript:;" class="headerButton goBack">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
        </div>
        <div class="pageTitle" th:text="${storeName}"></div>
        <div class="right">

        </div>
    </div>
	
<div id="appCapsule">
    <!--스토어 이미지 중 thumbnail 이미지 1장 -->
    <div class="section full mt-2 mb-2">
        <div class="section full"> 
            <img th:src="@{/common/getImage(imageIdx=${info.thumbnailImageIdx})}" alt="매장썸네일" class="imaged square w-100">
        </div>
    </div>

    <div class="section full">
        <div class="wide-block pt-2 pb-2 product-detail-header">
            <h1 class="title" style="font-size:1.4rem; font-weight: 150;" th:text="${storeNameShort}"></h1>
            <div class="divider mt-1 mb-2"></div>
            <div class="section full">
                <div class="row" style="text-align: center;">
                    <div class="col-4">
                        <a th:href="'tel:' + ${info.telNo}" class="btn btn-block btn-primary" style="background: #fff !important; color:#3B3F59 !important; border-radius:4px; border-width:1px;">
                            <ion-icon name="logo-whatsapp"></ion-icon>전화
                        </a>
                    </div>
                    <div class="col-4">
                        <th:block th:if="${session.memberVo != null && session.memberVo.memberType == '바우처'}">
                        <a th:href="@{/reservation/regist.view}" class="btn btn-block btn-primary" style="background: #fff !important; color:#3B3F59 !important; border-radius:4px; border-width:1px;">
                            <ion-icon name="calendar"></ion-icon>예약
                        </a>
                        </th:block>
                        <th:block th:unless="${session.memberVo != null && session.memberVo.memberType == '바우처'}">
                        <a href="javascript:alert('바우처 회원만 예약이 가능합니다.')" class="btn btn-block btn-primary" style="background: #fff !important; color:#3B3F59 !important; border-radius:4px; border-width:1px;">
                            <ion-icon name="calendar"></ion-icon>예약
                        </a>
                        </th:block>
                    </div>
                    <div class="col-4">
                        <!--신규 : 인스타그램 주소 (매장별로 인스타그램 주소가 있음) -->
                        <a th:href="${info.instagramUrl}" class="btn btn-block btn-primary" style="background: #fff !important; color:#3B3F59 !important; border-radius:4px; border-width:1px;">
                            <ion-icon name="logo-instagram"></ion-icon>인스타그램
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section full mt-1 mb-1">
        <div class="wide-block pt-1 pb-1">
            <img th:src="@{/assets/img/logo2.png}" class="logo" style="width:15%; vertical-align: middle;"> 모바일 예약
            	<th:block th:if="${info.mobileReservationYn == 'Y'}">
            	<span class="badge badge-primary">가능</span>
            	</th:block>
            	<th:block th:if="${info.mobileReservationYn == 'N'}">
            	<span class="badge badge-warning">불가</span>
            	</th:block>
        </div>
        <div class="section mt-2 mb-2">
            <!--신규 : 매장에서 긴급한 공지를 알리는 기능 -->
            <div class="card" style="border-radius:4px; background-color: #3B3F59;">
                <div class="card-body" style="border-radius:4px; padding:16px 16px; line-height: 0.3em;">
                    <p class="card-text" style="color:#fff" th:text="${info.alrim}"></p>
                    <p class="card-text" style="color:#fff"><small  th:text="${info.alrimDate}"></small></p>
                </div>
            </div>
        </div>
        <div class="wide-block pt-1 pb-1" style="font-weight:100; border-bottom: 0px !important;">
            <ion-icon name="navigate-outline"></ion-icon><span th:text="${info.address}"></span>
            <div class="divider mt-1 mb-1"></div>
            <ion-icon name="time-outline"></ion-icon><span th:text="${info.operationTime}"></span>
            <div class="divider mt-1 mb-1"></div>
            <ion-icon name="sunny-outline"></ion-icon><span th:text="${info.holiday}"></span>
            <div class="divider mt-1 mb-1"></div>
            <ion-icon name="storefront-outline"></ion-icon><span th:text="${info.etcGuide}"></span>
            <div class="divider mt-1 mb-1"></div>
            <ion-icon name="chatbubble-outline"></ion-icon><span th:text="${info.storeIntroduce}"></span>
            <div class="divider mt-1 mb-1"></div>
            <ion-icon name="car-outline"></ion-icon><span th:text="${info.parkingGuide}"></span>
        </div>
    </div>

    <div class="section full mt-1 mb-1">
        <div class="wide-block pt-2 pb-2" style="border-bottom: 0px !important;">
            <h4 style="margin:0 0 0 0" th:text="|[${info.storeNameShort}] 운영 프로그램|"></h4>
        </div>
        <div class="wide-block pt-2 pb-2">
             <div class="row">
             	<th:block th:each="list, i : ${playList}">
                <div class="col-6">
                    <img th:src="@{/common/getImage(imageIdx=${list.pictureIdx})}" alt="놀이사진" class="card-img-top" style="border-style:solid; border-width: 1px;">
                    <div class="card-body" style="text-align:left; font-size:0.5rem; padding:8px 8px; border-style:solid; border-width: 1px;">
                        <h4>CLASS
                        	<span class="badge badge-primary" th:text="${list.name}"></span>
                        </h4>
                        <h5 th:text="${list.description}"></h5>
                    </div>
                </div>
                </th:block>
            </div><br>
        </div>
    </div>

    <div class="section full mt-1 mb-1">
        <div class="wide-block pt-2 pb-2" style="border-bottom: 0px !important;">
            <h4 style="margin:0 0 0 0">위치</h4>
        </div>
        <div class="wide-block pt-2 pb-2">
            <div class="row">
                <iframe th:src="${googleMapSrc}" width=100% height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>

    <div class="section full mt-1 mb-1"><!--기존 : 원어민 사진은 X / 왼쪽 동그란 썸네일은 고정이미지 / 유색인종이 많아 사진 못 올린다고 함. -->
        <div class="wide-block pt-2 pb-2" style="border-bottom: 0px !important;">
            <h4 style="margin:0 0 0 0" th:text="|[${info.storeNameShort}] 원어민|"></h4>
        </div>
        <ul class="listview image-listview">
            <li th:each="list : ${nsList}">
                <div class="item">
                    <img th:src="@{/assets/img/foreign.png}" alt="image" class="image">
                    <div class="in">
                        <div th:text="${list.fullName}"></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="section full mt-1 mb-1">
        <div class="wide-block pt-2 pb-2" style="border-bottom: 0px !important;">
            <h4 style="margin:0 0 0 0">센터 활동 사진</h4>
        </div>
        <div class="mt-2 pr-2 pl-2">
            <div class="row">
                <div class="col-6 mb-2">
                    <img th:src="@{/common/getImage(imageIdx=${info.image1Idx})}" alt="매장사진" class="imaged w-100">
                </div>
                <div class="col-6 mb-2">
                    <img th:src="@{/common/getImage(imageIdx=${info.image2Idx})}" alt="매장사진" class="imaged w-100">
                </div>
                <div class="col-6 mb-2">
                    <img th:src="@{/common/getImage(imageIdx=${info.image3Idx})}" alt="매장사진" class="imaged w-100">
                </div>
                <div class="col-6 mb-2">
                    <img th:src="@{/common/getImage(imageIdx=${info.image4Idx})}" alt="매장사진" class="imaged w-100">
                </div>
                <div class="col-6 mb-2">
                    <img th:src="@{/common/getImage(imageIdx=${info.image5Idx})}" alt="매장사진" class="imaged w-100">
                </div>
                <div class="col-6 mb-2">
                    <img th:src="@{/common/getImage(imageIdx=${info.image6Idx})}" alt="매장사진" class="imaged w-100">
                </div>
            </div>
        </div>         
    </div>
</div>
</th:block>
</html>