<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="appFooterFragment">
    <!-- app footer -->
	<div class="appFooter">
		<img src="assets/img/logo.png" alt="icon" class="footer-logo mb-2">
		<div class="footer-title">Copyright © KIDSFACTORY All Right Reserved</div>
		<div>크레빌 SOCIAL Link</div>
		소셜을 통하여 다양한 혜택을 드립니다.
		<div class="mt-2">
			<a href="javascript:;" class="btn btn-icon btn-sm btn-instagram">
				<ion-icon name="logo-instagram"></ion-icon>
			</a>
		</div>
	</div>
	<!-- * app footer -->
</th:block>
</html>