<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="appFooterFragment">
	<div class="appFooter">
		<img th:src="@{/assets/img/logo.png}" alt="icon" class="footer-logo mb-2">
		<div class="footer-title">Copyright 2021© KIDSFACTORY All Right Reserved</div>
		<div>(주)키즈팩토리</div>
		사업자등록번호 342-81-00709 대표자:한현근 <br>고객센터:02-1688-0980
		<div class="mt-2">
			<a href="javascript:;" class="btn btn-icon btn-sm btn-instagram">
				<ion-icon name="logo-instagram"></ion-icon>
			</a>
		</div>
	</div>
</th:block>
</html>