<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="appSidebarFragment">
	<!-- App Sidebar -->
	<div class="modal fade panelbox panelbox-left" id="sidebarPanel" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body p-0">

					<!-- profile box -->
					<div class="profileBox">
						<div class="image-wrapper">
							<img th:src="@{/assets/img/sample/avatar/avatar1.jpg}"  alt="image" class="imaged rounded">
						</div>
						<div class="in">
							<strong th:text="${session.memberVo?.name}"></strong>
							<div class="text-muted">
								<ion-icon name="location"></ion-icon>
								판교(즐겨찾기 매장)
							</div>
						</div>
						<a href="javascript:;" class="close-sidebar-button"
							data-dismiss="modal"> <ion-icon name="close"></ion-icon>
						</a>
					</div>
					<!-- * profile box -->

					<ul class="listview flush transparent no-line image-listview mt-2">
						<li>
							<a th:href="@{/main.view}" class="item">
								<div class="icon-box bg-primary">
									<ion-icon name="home-outline"></ion-icon>
								</div>
								<div class="in">HOME</div>
							</a>
						</li>
						<li>
							<a th:href="@{/store/storeList.view}" class="item">
								<div class="icon-box bg-primary">
									<ion-icon name="cube-outline"></ion-icon>
								</div>
								<div class="in">크레빌 매장</div>
							</a>
						</li>
						<li>
							<a th:href="@{/reservation/free.view}" class="item">
								<div class="icon-box bg-primary">
									<ion-icon name="chatbubble-ellipses-outline"></ion-icon>
								</div>
								<div class="in">
									<div>무료체험신청</div>
									<span class="badge badge-danger"></span>
								</div>
							</a>
						</li>
						<li>
							<a th:href="@{/reservation/regist.view}" class="item">
								<div class="icon-box bg-primary">
									<ion-icon name="chatbubble-ellipses-outline"></ion-icon>
								</div>
								<div class="in">
									<div>실시간 예약</div>
<!-- 									<span class="badge badge-danger">5</span> -->
								</div>
							</a>
						</li>
						<li>
							<a th:href="@{/reservation/list.view}" class="item">
								<div class="icon-box bg-primary">
									<ion-icon name="chatbubble-ellipses-outline"></ion-icon>
								</div>
								<div class="in">
									<div>예약리스트 조회</div>
<!-- 									<span class="badge badge-danger">5</span> -->
								</div>
							</a>
						</li>
						<li>
							<div class="item">
								<div class="icon-box bg-primary">
									<ion-icon name="moon-outline"></ion-icon>
								</div>
								<div class="in">
									<div>다크모드</div>
									<div class="custom-control custom-switch">
										<input type="checkbox" class="custom-control-input dark-mode-switch" id="darkmodesidebar">
										<label class="custom-control-label" for="darkmodesidebar"></label>
									</div>
								</div>
							</div>
						</li>
					</ul>
					<div class="section full mt-1">
						<div class="section-title">앱으로 추가</div>
						<div class="wide-block pt-2 pb-2">
							<button type="button" class="btn btn-secondary" onclick="$('#android-add-to-home-screen').modal();">
								<ion-icon name="logo-android"></ion-icon>
								ANDROID
							</button>
							<button type="button" class="btn btn-secondary" onclick="$('#ios-add-to-home-screen').modal();">
								<ion-icon name="logo-apple"></ion-icon>
								iPhone
							</button>
						</div>
					</div>

					<div class="listview-title mt-2 mb-1">
						<span>회원&바우처 이용정보</span>
					</div>
					<ul class="listview image-listview flush transparent no-line">
						<li><a th:href="@{/member/info.view}" class="item">
								<div class="icon-box bg-primary">
									<ion-icon name="person-add-outline"></ion-icon>
								</div>
								<div class="in">
									<div>회원정보</div>
								</div>
						</a></li>
					</ul>
				</div>

				<!-- sidebar buttons -->
				<div class="sidebar-buttons">
					<a href="tel:02-1688-0980" class="button">
						<ion-icon name="phone-portrait-outline"></ion-icon>
					</a>
					<a th:href="@{/login/loginOut.view}" class="button"> 
						<ion-icon name="log-out-outline"></ion-icon>
					</a>
				</div>
				<!-- * sidebar buttons -->
			</div>
		</div>
	</div>
	<!-- * App Sidebar -->

	<div class="modal inset fade action-sheet ios-add-to-home" id="ios-add-to-home-screen" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">홈스크린에 추가</h5>
                    <a href="javascript:;" class="close-button" data-dismiss="modal">
                        <ion-icon name="close"></ion-icon>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="action-sheet-content text-center">
                        <div class="mb-1"><img th:src="@{/assets/img/icon/192x192.png}" alt="image" class="imaged w48">
                        </div>
                        <h4>크레빌 모바일</h4>
                        <div>
                            아이폰 홈 화면에 크레빌을 설치합니다.
                        </div>
                        <div>
                            터치하여 <ion-icon name="share-outline"></ion-icon> 홈스크린에 추가하세요.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- * iOS Add to Home Action Sheet -->
    <!-- Android Add to Home Action Sheet -->
    <div class="modal inset fade action-sheet android-add-to-home" id="android-add-to-home-screen" tabindex="-1"
        role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">홈스크린에 추가</h5>
                    <a href="javascript:;" class="close-button" data-dismiss="modal">
                        <ion-icon name="close"></ion-icon>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="action-sheet-content text-center">
                        <div class="mb-1"><img th:src="@{/assets/img/icon/192x192.png}" alt="image" class="imaged w48">
                        </div>
                        <h4>크레빌 모바일</h4>
                        <div>
                            안드로이드 홈 화면에 크레빌을 설치합니다.
                        </div>
                        <div>
                            터치하여 <ion-icon name="ellipsis-vertical"></ion-icon> 홈스크린에 추가하세요.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>