<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="appSidebarFragment">
	 <div class="modal fade panelbox panelbox-left" id="sidebarPanel" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <!-- profile box -->
                    <div class="profileBox">
                        <div class="image-wrapper">
                            <img th:src="@{/assets/img/sidebar_logo.jpg}" alt="image" class="imaged rounded">
                        </div>
                        <div class="in">
                        	<th:block th:if="${session.memberVo != null}">
                            <strong th:text="${session.memberVo?.name}"></strong>
                            </th:block>
                            <th:block th:unless="${session.memberVo != null}">
                            <strong>비회원</strong>
                            </th:block>
                            <div class="text-muted">
                                <ion-icon name="location"></ion-icon>
                                <th:block th:if="${session.memberVo != null}">
                                <span th:text="${session.memberVo?.storeNameShort}"></span>
                                </th:block>
                                <th:block th:unless="${session.memberVo != null}">
                                </th:block>
                            </div>
                        </div>
                        <a href="javascript:;" class="close-sidebar-button" data-dismiss="modal">
                            <ion-icon name="close"></ion-icon>
                        </a>
                    </div>
                    <!-- * profile box -->

                    <ul class="listview flush transparent no-line image-listview mt-2">
                        <li>
                            <a th:href="@{/main.view}" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="home-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    HOME
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/store/storeList.view}" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="storefront-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    크레빌 매장
                                </div>
                            </a>
                        </li>
                        <th:block th:if="${session.memberVo != null}">
	                        <th:block th:if="${session.memberVo.memberType == '바우처'}">
	                        <li>
	                            <a th:href="@{/reservation/regist.view}" class="item">
	                                <div class="icon-box bg-primary">
	                                    <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
	                                </div>
	                                <div class="in">
	                                    <div>실시간 예약</div>
	                                </div>
	                            </a>
	                        </li>
	                        </th:block>
	                        <th:block th:if="${session.memberVo.memberType == 'NV' || session.memberVo.memberType == '모바일'}">
	                        <li>
	                            <a th:href="@{/reservation/free.view}" class="item">
	                                <div class="icon-box bg-primary">
	                                    <ion-icon name="rocket-outline"></ion-icon>
	                                </div>
	                                <div class="in">
	                                    <div>체험수업신청</div>
	                                    <span class="badge badge-danger"></span>
	                                </div>
	                            </a>
	                        </li>
	                        <li>
	                            <a th:href="@{/reservation/shortRegist.view}" class="item">
	                                <div class="icon-box bg-primary">
	                                    <ion-icon name="rocket-outline"></ion-icon>
	                                </div>
	                                <div class="in">
	                                    <div>1회예약</div>
	                                    <span class="badge badge-danger"></span>
	                                </div>
	                            </a>
	                        </li>
	                        </th:block>
                        <li>
                            <a th:href="@{/reservation/list.view}" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="calendar-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    <div>예약리스트 조회</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/member/info.view}" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="person-add-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    <div>회원정보</div>
                                </div>
                            </a>
                        </li>
                        </th:block>
                        <li>
                            <div class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="moon-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    <div>다크모드</div>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input dark-mode-switch" id="darkmodesidebar">
                                        <label class="custom-control-label" for="darkmodesidebar"></label>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- sidebar buttons -->
                <div class="sidebar-buttons">
                    <a th:href="@{/member/info.view}" class="button">
                        <ion-icon name="settings-outline"></ion-icon>
                        <h5>회원정보</h5>
                    </a>
                    <th:block th:if="${session.memberVo != null}">
                    <a th:href="@{/login/loginOut.view}" class="button">
                        <ion-icon name="log-out-outline"></ion-icon>
                        <h5>로그아웃</h5>
                    </a>
                    </th:block>
                    <th:block th:unless="${session.memberVo != null}">
                    <a th:href="@{/login/login.view}" class="button">
                        <ion-icon name="log-out-outline"></ion-icon>
                        <h5>로그인</h5>
                    </a>
                    </th:block>
                </div>
                <!-- * sidebar buttons -->
            </div>
        </div>
    </div>
</th:block>
</html>