<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <div class="appBottomMenu rounded">
        <a th:href="@{/main.view}" class="item active">
            <div class="col">
                <ion-icon name="file-tray-full-outline"></ion-icon>
                <strong>홈</strong>
            </div>
        </a>
        <a th:href="@{/store/storeList.view}" class="item">
            <div class="col">
                <ion-icon name="storefront-outline"></ion-icon>
                <strong>매장소개</strong>
            </div>
        </a>
        <a href="time_list.html" class="item">
            <div class="col">
                <ion-icon name="document-text-outline"></ion-icon>
                <strong>시간표</strong>
            </div>
        </a>
        <a th:href="@{/member/info.view}" class="item">
            <div class="col">
                <ion-icon name="people-outline"></ion-icon>
                <strong>회원정보</strong>
            </div>
        </a>
        <a href="comingsoon.html" class="item">
            <div class="col">
                <ion-icon name="rocket-outline"></ion-icon>
                <strong>이용안내</strong>
            </div>
        </a>
        <a th:href="@{/reservation/regist.view}" class="item">
            <div class="col">
                <ion-icon name="calendar-outline"></ion-icon>
                <strong>실시간예약</strong>
            </div>
        </a>
    </div>
</th:block>
</html>