<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <div class="appBottomMenu">
    	<th:block th:if="${#httpServletRequest.requestURI == '/mobile/main.view'}">
    	<a th:href="@{/main.view}" class="item active">
        </th:block>
        <th:block th:unless="${#httpServletRequest.requestURI == '/mobile/main.view'}">
        <a th:href="@{/main.view}" class="item">
        </th:block>
            <div class="col">
                <ion-icon name="home-outline"></ion-icon>
            </div>
        </a>
        <th:block th:if="${#httpServletRequest.requestURI == '/mobile/store/storeList.view'}">
        <a th:href="@{/store/storeList.view}" class="item active">
        </th:block>
        <th:block th:unless="${#httpServletRequest.requestURI == '/mobile/store/storeList.view'}">
        <a th:href="@{/store/storeList.view}" class="item">
        </th:block>
            <div class="col">
                <ion-icon name="cube-outline"></ion-icon>
            </div>
        </a>
        <th:block th:if="${#httpServletRequest.requestURI == '/mobile/member/info.view'}">
        <a th:href="@{/member/info.view}" class="item active">
        </th:block>
        <th:block th:unless="${#httpServletRequest.requestURI == '/mobile/member/info.view'}">
        <a th:href="@{/member/info.view}" class="item">
        </th:block>
            <div class="col">
                <ion-icon name="person-outline"></ion-icon>
            </div>
        </a>
        <th:block th:if="${#httpServletRequest.requestURI == '/mobile/play/list.view'}">
        <a th:href="@{/play/list.view}" class="item active">
        </th:block>
        <th:block th:unless="${#httpServletRequest.requestURI == '/mobile/play/list.view'}">
        <a th:href="@{/play/list.view}" class="item">
        </th:block>
            <div class="col">
                <ion-icon name="play-outline"></ion-icon>
            </div>
        </a>
    </div>
</th:block>
</html>