<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerMainFragment(menu)">
	<div id="loader">
		<div class="spinner-border text-primary" role="status"></div>
	</div>

	<div class="section full mt-2">
		<div class="appHeader">
			<div class="left">
				<a href="#" class="headerButton" data-toggle="modal" data-target="#sidebarPanel">
				<ion-icon name="menu-outline"></ion-icon>
			</div>
			<div class="pageTitle">
				<img th:src="@{/assets/img/logo2.png}" alt="logo" class="logo">
			</div>
			<div class="right">
				<a href="#" class="headerButton" data-toggle="modal" data-target="#PanelRight">
					<ion-icon name="notifications-outline"></ion-icon>
					<span class="badge badge-danger">2</span>
				</a>
			</div>
		</div>
	</div>	
	
	<!--right패널 바우처 정보-->
    <div class="modal fade panelbox panelbox-right" id="PanelRight" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">TODAY 예약정보</h4>
                    <a href="javascript:;" data-dismiss="modal" class="panel-close">
                        <ion-icon name="close-outline"></ion-icon>
                    </a>
                </div>
                <div class="modal-body">
                    <ul class="listview link-listview mb-1">
                        <li class="multi-level">
                            <a href="#" class="item">판교점</a>
                            <!-- sub menu -->
                            <ul class="listview link-listview">
                                <li>
                                    <a href="#" class="item">
                                        11:00
                                        <span class="badge badge-primary">CLASS GYM</span>
                                        <span class="badge badge-success">자녀이름</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="item">
                                        11:00
                                        <span class="badge badge-primary">CLASS GYM</span>
                                        <span class="badge badge-success">자녀이름</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
	
</th:block>
</html>