<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment(menu)">
	<!-- App Header -->
    <div class="appHeader bg-primary text-light no-border">
        <div class="left">
            <a href="javascript:;" class="headerButton goBack">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
        </div>
        <div class="pageTitle" th:text=${menu.menuName}></div>
        <div class="right"></div>
    </div>
    <!-- * App Header -->
    <div class="extraHeader p-0">
        <ul class="nav nav-tabs lined" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#thismonth" role="tab">
                 THIS MONTH
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#nextmonth" role="tab">
                 NEXT MONTH
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#specialcamp" role="tab">
                    SPECIAL CAMP
                </a>
            </li>
        </ul>
    </div>
</th:block>
</html>