<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerMainFragment(menu)">
	<div class="section full mt-2">
		<div class="appHeader">
			<div class="left">
				<a href="#" class="headerButton" data-toggle="modal" data-target="#sidebarPanel">
				<ion-icon name="menu-outline"></ion-icon>
			</div>
			<div class="pageTitle">
				<img th:src="@{/assets/img/logo2.png}" alt="logo" class="logo">
			</div>
			<div class="right">
				<a href="#" class="headerButton" data-toggle="modal" data-target="#PanelRight">
					<ion-icon name="notifications-outline"></ion-icon>
					<th:block th:if="${todayReservationList != null}">
						<span class="badge badge-danger" th:text="${todayReservationListCnt}"></span>
					</th:block>
					<th:block th:unless="${todayReservationList != null}">
						<span class="badge badge-danger"></span>
					</th:block>
				</a>
			</div>
		</div>
	</div>	
	
	<!--right패널 바우처 정보-->
    <div class="modal fade panelbox panelbox-right" id="PanelRight" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">TODAY 예약정보</h4>
                    <a href="javascript:;" data-dismiss="modal" class="panel-close">
                        <ion-icon name="close-outline"></ion-icon>
                    </a>
                </div>
                <div class="modal-body">
                    <ul class="listview link-listview mb-1">
                        <li class="multi-level">
                            <th:block  th:each="list : ${todayReservationList}">
                            <a href="#" class="item" th:text="${list.storeNameShort}"></a>
                            <!-- sub menu -->
                            <ul class="listview link-listview">
                                <li>
                                    <a th:href="@{/reservation/list.view}" class="item">
                                        <span th:text="${list.reservationTime}"></span>
                                        <span class="badge badge-primary" th:text="${list.playName}"></span>
                                        <span class="badge badge-success" th:text="${list.reservationName}"></span>
                                    </a>
                                </li>
                            </ul>
                            </th:block>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>