<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment(menu)">
	<!-- loader -->
<!--     <div id="loader"> -->
<!--         <div class="spinner-border text-primary" role="status"></div> -->
<!--     </div> -->
    <!-- * loader -->

    <!-- App Header -->
    <div class="appHeader bg-primary text-light no-border">
        <div class="left">
            <a th:href="@{/}" class="headerButton goBack">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
        </div>
        <div class="pageTitle" th:text=${menu.menuName}></div>
        <div class="right"></div>
    </div>
    <!-- * App Header -->
</th:block>
</html>