<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<th:block th:fragment="scriptFragment(scriptName)">
		<!-- Jquery, Moment, DateRangePicker -->
	    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	    <!-- Vuejs -->
	    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vee-validate@<3.0.0/dist/vee-validate.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vee-validate@2.2.15/dist/locale/ko.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	    <!-- Bootstrap-->
	    <script th:src="@{/assets/js/lib/popper.min.js}"></script>
	    <script th:src="@{/assets/js/lib/bootstrap.min.js}"></script>
	    <!-- Ionicons -->
	    <script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"></script>
	    <!-- Owl Carousel -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
	    <!-- jQuery Circle Progress -->
	    <script th:src="@{/assets/js/plugins/jquery-circle-progress/circle-progress.min.js}"></script>
	    <!-- Kakao API -->
	    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	    <!-- Custom Js -->
	    <script th:src="@{/assets/js/base.js}"></script>
	    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>
<!-- 	    <script th:src="@{/assets/js/plugins/progressbar-js/progressbar.min.js}"></script> -->
	    <script th:src="@{/assets/js/crevill/commonScript.js}"></script>
	    <script th:src="@{${scriptName}}"></script>
	    <script th:inline="javascript"> var contextRoot = /*[[@{/}]]*/ ''; </script>
	    <script th:src="@{/assets/calendar/mini-event-calendar.js}"></script>	    
	</th:block>
</html>