<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default(scriptName='/assets/js/crevill/scheduleScript.js')}">

<th:block layout:fragment="content">
	<div class="page-body" id="page-body">
		<th:block th:replace="fragments/topIconMenu :: topIconMenuFragment(${menu})"></th:block>
		<!-- Container-fluid starts-->
		<div class="container-fluid">
			<form class="form theme-form" id="scheduleForm" @submit.prevent="validateBeforeSubmit" action="/schedule/regist.proc" method="post" enctype="multipart/form-data">
	        <div class="card">
	            <div class="card-body">
	                <div class="row date-range-picker">
	                    <div class="col-xl-6">
	                        <h6 class="sub-title">운영구분</h6>
	                        <p>평일은 클래스와 튜터링 수업 / 주말은 스페셜캠프만 설정</p>
	                        <div class="theme-form">
	                            <div class="form-group m-t-15 m-checkbox-inline mb-0">
	                                <div class="checkbox checkbox-dark">
	                                    <input id="operationTypeA" name="operationType" type="checkbox" v-validate="'required'" value="WEEKDAY">
	                                    <label for="operationTypeA">평일운영</label>
	                                </div>
	                                <div class="checkbox checkbox-dark">
	                                    <input id="operationTypeB" name="operationType" type="checkbox" v-validate="'required'" value="WEEKEND">
	                                    <label for="operationTypeB">주말/공휴일 운영</label>
	                                </div>
	                                <label class="col-form-label-sm" for="operationType" v-if="errors.has('operationType')">{{ errors.first('operationType') }}</label>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-xl-6">
	                        <h6 class="sub-title">이용인원 설정</h6>
	                        <p>스케쥴에 등록 된 인원은 예약인원이 초과할 경우 수정이 불가함</p>
	                        <div class="theme-form">
	                            <div class="form-group">
	                                <input class="form-control" v-validate="'required|numeric|min:1'" id="numberOfPeople" name="numberOfPeople" type="number">
	                            </div>
	                            <label class="col-form-label-sm" for="operationType" v-if="errors.has('numberOfPeople')">{{ errors.first('numberOfPeople') }}</label>
	                        </div>
	                    </div>
	                    <div class="col-xl-6">
	                        <h6 class="sub-title">클래스 선택</h6>
	                        <p>관리자에서 설정한 클래스명으로 검색</p>
	                        <div class="theme-form">
	                            <div class="form-group">
	                                <select class="form-control form-control-lg" id="playId" name="playId">
	                                </select>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-xl-6">
	                        <h6 class="sub-title">튜터링 인원 설정</h6>
	                        <p>이용시간 단위의 1/2 으로 설정</p>
	                        <div class="theme-form">
	                            <div class="form-group">
	                                <input class="form-control" v-validate="'required|numeric|min:1'" id="tutoringNumber" name="tutoringNumber" type="number">
	                            </div>
	                            <label class="col-form-label-sm" for="tutoringNumber" v-if="errors.has('tutoringNumber')">{{ errors.first('tutoringNumber') }}</label>
	                        </div>
	                    </div>
	                    <div class="col-xl-6">
	                        <h6 class="sub-title">시작날짜선택</h6>
	                        <div class="theme-form">
	                            <div class="form-group">
	                                <input class="form-control" v-validate="'required|min:16|max:16'" type="text" id="scheduleStart" name="scheduleStart">
	                            </div>
	                            <label class="col-form-label-sm" for="scheduleStart" v-if="errors.has('scheduleStart')">{{ errors.first('scheduleStart') }}</label>
	                        </div>
	                    </div>
	                    <div class="col-xl-6">
	                        <h6 class="sub-title">소주제 입력</h6>
	                        <div class="theme-form">
	                            <div class="form-group">
	                                <input class="form-control" v-validate="'required'" type="text" id="subTopic" name="subTopic">
	                            </div>
	                            <label class="col-form-label-sm" for="subTopic" v-if="errors.has('subTopic')">{{ errors.first('subTopic') }}</label>
	                        </div>
	                    </div>
	                    <div class="col-xl-6">
	                        <h6 class="sub-title">스케쥴등록매장 선택</h6>
	                        <div class="theme-form">
	                            <div class="form-group">
	                                <select id="storeId" name="storeId">
	                                	<th:block th:each="storeList : ${storeList}">
	                                		<option th:value="${storeList.storeId}" th:text=${storeList.storeName}></option>
	                                </select>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="card-footer">
	                <button class="btn btn-primary" type="submit">등록</button>
	                <input class="btn btn-light" type="reset" value="RESET" onclick="cancel();">
	            </div>
	        </div>
	        </form>
	    </div>
	</div>
</th:block>
</html>