<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default(scriptName='/assets/js/crevill/indexScript.js')}">

<th:block layout:fragment="content">
    <div id="appCapsule" style="padding-top:45px;">
        <div class="section mt-1">
            <div class="card bg-dark text-white">
                <img src="assets/img/login_form.gif" class="card-img overlay-img" alt="image">
                <div class="card-img-overlay">
                    <th:block th:if="${session.memberVo != null}">
                        <h5 class="card-title" th:text="|${session.memberVo?.name}님|"></h5>
                        <p class="card-text">
                            <span class="badge badge-danger" th:text="|${session.memberVo?.memberType}|"></span> 회원</p>
                        <th:block th:if="${visitSummary != null}">
                            <p class="card-text"><small th:text="|최근방문 : ${visitSummary.visitDate}|"></small></p>
                        </th:block>
                        <th:block th:unless="${visitSummary != null}">
                            <p class="card-text"><small>방문이력 없음</small></p>
                        </th:block>
                    </th:block>
                    <th:block th:unless="${session.memberVo != null}">
                        <a th:href="@{/login/login.view}" class="btn btn-primary square mr-1">로그인</a><br><br>
                        <p class="card-text"><small>안녕하세요. 크레빌 영어 마을입니다.</small></p>
                    </th:block>
                </div>
            </div>
        </div>
        <th:block th:if="${session.memberVo != null && voucherInfo != null}">
            <!--             <div class="carousel-full owl-carousel owl-theme"> -->
            <!--                 <div class="section mt-0"> -->
            <!--                     <th:block th:each="reccomendList : ${reccomendList}"> -->
            <!--                         <a href="#" data-toggle="modal" data-target="#actionSheetForm" th:attr="onclick=|reservation('${reccomendList.scheduleId}','${reccomendList.scheduleStart}','${reccomendList.playName}', '${reccomendList.reservationCnt}')|"> -->
            <!--                             <div class="card bg-primary comment-box" style="text-align: left;"> -->
            <!--                                 <div class="card-text">예약추천</div> -->
            <!--                                 <div class="text"> -->
            <!--                                     <h5 style="color:white;" th:text="|${reccomendList.scheduleStart} 클래스 ${reccomendList.playName}|"></h5> -->
            <!--                                     <span class="chip-label"> -->
            <!--                                         <span class="badge badge-success" -->
            <!--                                             th:text="${reccomendList.reservationCnt}"></span> -->
            <!--                                         <font color="white">예약가능</font> -->
            <!--                                     </span> -->
            <!--                                 </div> -->
            <!--                             </div> -->
            <!--                         </a> -->
            <!--                     </th:block> -->
            <!--                 </div> -->
            <!--             </div> -->

            <div class="modal fade action-sheet" id="actionSheetForm" tabindex="-1" role="dialog">
                <form class="form theme-form" id="reservationForm" @submit.prevent="validateBeforeSubmit"
                    th:action="@{/reservation/regist.proc}" method="post">
                    <input type="hidden" id="scheduleId" name="scheduleId" :value="scheduleId" />
                    <input type="hidden" id="cellPhone" name="cellPhone" th:value="${cellPhone}" />
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">빠른 예약</h5>
                            </div>
                            <div class="modal-body">
                                <div class="action-sheet-content">
                                    <div class="form-group basic">
                                        {{scheduleStart}} {{playName}} <span class="badge badge-success">예약</span><br>
                                        <th:block th:if="${voucherInfo != null}">
                                            잔여시간 <span class="badge badge-danger">{{voucherTimeLeft}}</span><br><br>
                                        </th:block>
                                        <th:block th:unless="${voucherInfo != null}">
                                            잔여시간 <span class="badge badge-danger">바우처없음</span><br><br>
                                        </th:block>
                                        <div class="input-wrapper">
                                            <div class="input-wrapper">
                                                <label class="label" for="voucherId">사용할 바우처</label>
                                                <select class="form-control custom-select" id="voucherNo"
                                                    name="voucherNo" @click="voucherChange">
                                                    <template v-for="item in scheduleList">
                                                        <option :value="item.voucherNo"
                                                            :data-timeleft="item.timeLeftHour">{{item.ticketName}}
                                                        </option>
                                                    </template>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group basic">
                                        <div class="input-wrapper">
                                            <div class="form-group basic">
                                                <div class="input-wrapper">
                                                    <label class="label" for="childName">이용아동</label>
                                                    <select class="form-control custom-select" id="childName"
                                                        name="childName">
                                                        <option th:each="childList : ${childList}"
                                                            th:value="${childList.childName}"
                                                            th:text="${childList.childName}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group basic">
                                        <button type="submit" class="btn btn-secondary btn-block btn-lg">바로예약</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="n_res section mt-2">
                <div class="section-title">예약알림</div>
                <div class="carousel-slider owl-carousel owl-theme">
                    <th:block th:each="list : ${reservationList}">
                        <div class="item">
                            <a th:href="@{/reservation/list.view}">
                                <div class="card bg-primary comment-box">
                                    <h6 class="card-title" style="font-size:14px;">예약알림 :
                                        <span class="badge badge-danger" th:text="${list.storeNameShort}"></span></h6>
                                    <div class="card-text" th:text="${list.scheduleDate}"></div>
                                    <div class="text" style="font-size:13px;" th:text="${list.playName}"></div>
                                    <span class="badge badge-light" th:text="${list.subTopic}"></span>
                                </div>
                            </a>
                        </div>
                    </th:block>
                </div>
            </div>
        </th:block>

        <div class="section full mt-1">
            <th:block th:if="${session.memberVo != null && session.memberVo.memberType == '바우처'}">
                <div class="wide-block pt-2 pb-2">
                    <div class="row">
                        <th:block th:each="list : ${voucherList}">
                            <input type="hidden" id="voucherUsePerCalc" th:value="${list.voucherUsePerCalc}">
                            <div class="col-4">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                        data-toggle="dropdown" style="font-size:10px" th:text="${list.ticketName}">
                                    </button>
                                    <div class="dropdown-menu" style="padding-top:5px;">
                                        <a class="dropdown-item" th:text="${list.ticketName}"></a>
                                    </div>
                                    잔여시간
                                    <div class="chip chip-outline chip-primary ml-05 mb-05" style="padding-left:0px;">
                                        <span class="chip-label"
                                            th:text="|${list.timeLeftHour}/${list.useTime}|"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div id="circle1" class="circle-progress">
                                    <div class="in">
                                        <div class="text">
                                            잔여시간
                                            <h3 class="value" th:text="${list.timeLeftHour}"></h3>
                                            시간
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div id="circle3" class="circle-progress">
                                    <div class="in">
                                        <div class="text">
                                            바우처
                                            <h3 class="value" th:text="|${list.voucherUsePer}%|"></h3>
                                            소진률
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </th:block>

            <div class="section full mt-0">
                <div class="wide-block pt-2 pb-2">
                    <div class="row" style="text-align: center;">
                        <!-- <div class="col-3 kakao">
                            <a id="channel-chat-button" href="#" onclick="void chatChannel();">
                                <img src="assets/img/kakao.png" alt="alt" class="imaged w-50 rounded"
                                    style="padding-bottom:5px;">
                                <div style="bottom: 10px; left: 19px;font-size: 13px;">
                                    <h5>카카오링크</h5>
                                </div>
                            </a>
                        </div> -->
                        <div class="col-3 info">
                            <a th:href="@{/main/guide.view}">
                                <img th:src="@{/assets/img/information.png}" alt="alt" class="imaged w-50 rounded"
                                    style="padding-bottom:5px;">
                                <div style="bottom: 10px; left: 19px;font-size: 13px;">
                                    <h5>이용안내</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-3 intro">
                            <a href="#" data-toggle="modal" data-component="stories" data-target="#about_crevill">
                                <img src="assets/img/crevill_icon.png" alt="alt" class="imaged w-50 rounded"
                                    style="padding-bottom:5px;">
                                <div style="bottom: 10px; left: 19px;font-size: 13px;">
                                    <h5>크레빌소개</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-3 branch">
                            <a th:href="@{/store/storeList.view}">
                                <img src="assets/img/center.png" alt="alt" class="imaged w-50 rounded"
                                    style="padding-bottom:5px;">
                                <div style="bottom: 10px; left: 19px;font-size: 13px;">
                                    <h5>센터안내</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-3 prgrm">
                            <a href="#" data-toggle="modal" data-component="stories" data-target="#about_program">
                                <img src="assets/img/program.png" alt="alt" class="imaged w-50 rounded"
                                    style="padding-bottom:5px;">
                                <div style="bottom: 10px; left: 19px;font-size: 13px;">
                                    <h5>프로그램소개</h5>
                                </div>
                            </a>
                        </div>

                    </div><br>
                    <div class="row" style="text-align: center;">
                        <div class="col-3 insta">
                            <a href="https://www.instagram.com/crevill_headquarter/">
                                <img src="assets/img/instargram.png" alt="alt" class="imaged w-50 rounded"
                                    style="padding-bottom:5px;">
                                <div style="bottom: 10px; left: 19px;font-size: 13px;">
                                    <h5>인스타그램</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-3 vid">
                            <a href="https://www.youtube.com/embed/HZ-tVcvnAl0">
                                <img th:src="@{/assets/img/youtube.png}" alt="alt" class="imaged w-50 rounded"
                                    style="padding-bottom:5px;">
                                <div style="bottom: 10px; left: 19px;font-size: 13px;">
                                    <h5>소개영상</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-3 promo">
                            <!--<a th:href="@{/promotion/list.view}">-->
                                <img th:src="@{/assets/img/promotion.png}" alt="alt" class="imaged w-50 rounded"
                                    style="padding-bottom:5px;">
                                <div style="bottom: 10px; left: 19px;font-size: 13px;">
                                    <h5>프로모션</h5>
                                </div>
                            <!--</a>-->
                        </div>
                        <div class="col-3 sched">
                            <a th:href="@{/program/timeTable.view}">
                                <img src="assets/img/schedule.png" alt="alt" class="imaged w-50 rounded"
                                    style="padding-bottom:5px;">
                                <div style="bottom: 10px; left: 19px;font-size: 13px;">
                                    <h5>시간표</h5>
                                </div>
                            </a>
                        </div>
                    </div><br>
                    <div class="row" style="text-align: center;">
                        <div class="col-3 qrcode">
                            <a href="https://nid.naver.com/login/privacyQR">
                                <img src="assets/img/qrcheck.png" alt="alt" class="imaged w-50 rounded"
                                    style="padding-bottom:5px;">
                                <div style="bottom: 10px; left: 19px;font-size: 13px;">
                                    <h5>QR체크인</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-3 child">
                            <a th:href="@{/member/childList.view}">
                                <img src="assets/img/child_add.png" alt="alt" class="imaged w-50 rounded"
                                    style="padding-bottom:5px;">
                                <div style="bottom: 10px; left: 19px;font-size: 13px;">
                                    <h5>자녀 정보</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-3 myvoucher">
                            <a th:href="@{/member/info.view}">
                                <img src="assets/img/myvoucher.png" alt="alt" class="imaged w-50 rounded"
                                    style="padding-bottom:5px;">
                                <div style="bottom: 10px; left: 19px;font-size: 13px;">
                                    <h5>바우처 정보</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-3 reservlist">
                            <a th:href="@{/reservation/list.view}">
                                <img src="assets/img/reservlist.png" alt="alt" class="imaged w-50 rounded"
                                    style="padding-bottom:5px;">
                                <div style="bottom: 10px; left: 19px;font-size: 13px;">
                                    <h5>예약 리스트</h5>
                                </div>
                            </a>
                        </div>
                        <!-- <div class="col-3 call">
                            <a href="tel:02-1688-0980">
                                <img src="assets/img/contact_call.png" alt="alt" class="imaged w-50 rounded"
                                    style="padding-bottom:5px;">
                                <div style="bottom: 10px; left: 19px;font-size: 13px;">
                                    <h5>전화상담</h5>
                                </div>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="section full mt-1">
                <div class="section-title">THEME</div>
                <div class="carousel-full owl-carousel owl-theme">
                    <div class="item" th:each="list : ${programList}">
                        <div class="card">
                            <!--<a th:href="@{/storeProgram/list.view(chainClass=${list.chainClass})}" class="item">-->
                                <img th:src="@{/common/getImage(imageIdx=${list.thumbnailId})}"
                                    class="card-img overlay-img" alt="image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="section full mt-1">
                <div class="section-title">NOTICE</div>
                <div class="carousel-full owl-carousel owl-theme">
                    <th:block th:each="list : ${noticeList}">
                        <div class="item">
                            <div class="card">
                                <img th:src="@{/common/getImage(imageIdx=${list.bannerId})}"
                                    class="card-img card-img-top1" th:alt="|${list.title} 배너이미지|">
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>


            <div class="tab-pane fade show active" id="pilled" role="tabpanel">
                <div class="section full mt-1">
                    <div class="section-title">CENTER</div>
                    <ul class="nav nav-tabs style1" role="tablist" style="padding-left:16px; padding-right:16px;">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#seoul" role="tab">
                                서울
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#gyeongi" role="tab">
                                경인
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#southern" role="tab">
                                남부
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content mt-2">
                        <div class="tab-pane fade show active" id="seoul" role="tabpanel">
                            <div class="wide-block pt-2 pb-2">
                                <div class="row">
                                    <div class="col-6" th:each="list : ${seoulStore}">
                                        <div class="item">
                                            <div class="card">
                                                <a th:href="@{/store/storeInfo.view(storeId=${list.storeId})}">
                                                    <img th:src="@{/common/getImage(imageIdx=${list.image1Idx})}"
                                                        class="card-img-top overlay-img" alt="image">
                                                </a>
                                                <div class="card-body pt-2">
                                                    <h5 class="mb-0" th:text="${list.storeNameShort}"></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="gyeongi" role="tabpanel">
                            <div class="wide-block pt-2 pb-2">
                                <div class="row">
                                    <div class="col-6" th:each="list : ${kyungkiStore}">
                                        <div class="item">
                                            <div class="card">
                                                <a th:href="@{/store/storeInfo.view(storeId=${list.storeId})}">
                                                    <img th:src="@{/common/getImage(imageIdx=${list.image1Idx})}"
                                                        class="card-img-top overlay-img" alt="image">
                                                </a>
                                                <div class="card-body pt-2">
                                                    <h5 class="mb-0" th:text="${list.storeNameShort}"></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="southern" role="tabpanel">
                            <div class="wide-block pt-2 pb-2">
                                <div class="row">
                                    <div class="col-6" th:each="list : ${nambuStore}">
                                        <div class="item">
                                            <div class="card">
                                                <a th:href="@{/store/storeInfo.view(storeId=${list.storeId})}">
                                                    <img th:src="@{/common/getImage(imageIdx=${list.image1Idx})}"
                                                        class="card-img-top overlay-img" alt="image">
                                                </a>
                                                <div class="card-body pt-2">
                                                    <h5 class="mb-0" th:text="${list.storeNameShort}"></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section full mt-2 mb-2">
                <div class="section-title">PROMOTION</div>
                <div class="carousel-full owl-carousel owl-theme">
                    <div class="item" th:each="list : ${promotionList}">
                        <!-- <a th:href="@{/promotion/list.view}"> -->
                            <img th:src="@{/common/getImage(imageIdx=${list.promotionBannerId})}"
                                class="imaged w-100 square" alt="promotion">
                        <!-- </a> -->
                    </div>
                </div>
            </div>

            <div class="modal fade modalbox" id="about_crevill" data-backdrop="static" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">크레빌 소개</h5>
                            <a href="javascript:;" data-dismiss="modal">닫기</a>
                        </div>
                        <div class="modal-body">
                            <img th:src="@{assets/img/detail_crevill.jpg}" alt="image" class="imaged img-fluid">
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade modalbox" id="about_program" data-backdrop="static" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">프로그램 소개</h5>
                            <a href="javascript:;" data-dismiss="modal">닫기</a>
                        </div>
                        <div class="modal-body">
                            <img th:src="@{assets/img/detail_program.jpg}" alt="image" class="imaged img-fluid">
                        </div>
                    </div>
                </div>
            </div>

            <!--corona banner add-->
            <div class="section full mt-1 mb-1">
                <img th:src="@{/assets/img/corona.png}" alt="image" class="imaged square w-100">
            </div>

            <div class="section full mt-2 mb-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/HZ-tVcvnAl0"
                        	title="YouTube video player" frameborder="0"
                        	allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        	allowfullscreen>
                    </iframe>
                </div>
            </div>
            <!--고객공지추가 - 최근1개만-->
            <div class="wide-block pt-1 pb-1">
                <div style="display:inline">
                    <p style="text-decoration: dotted; margin-bottom:0rem;">
                    	<font color="blue">공지</font> | &nbsp;
                    	<th:block th:each="list : ${noticeList}">
                    		<span style="font-size:9px;" th:text="${list.contents}"></span>
                    	</th:block>
                    </p>
                </div>
            </div>
            <!-- app footer -->

            <!-- 바로가기 아이콘 추가 -->
            <div class="section full mt-1">
                <div class="section-title">바로가기 추가</div>
                <div class="wide-block pt-1 pb-1" style="border:none;">
                    <div class="row">
                        <div class="col-6" style="align-content: center;">
                            <button type="button" class="btn btn-primary"
                                onclick="$('#android-add-to-home-screen').modal();"
                                style="width: 100%">
                                <ion-icon name="logo-android"></ion-icon>
                                안드로이드폰
                            </button>
                        </div>
                        <div class="col-6" style="align-content: center;">
                            <button type="button" class="btn btn-primary"
                                onclick="$('#ios-add-to-home-screen').modal();"
                                style="width: 100%">
                                <ion-icon name="logo-apple"></ion-icon>
                                애플 아이폰
                            </button>
                        </div>
                    </div>
                </div>
            </div>
             
            <!-- ios 모달 -->
            <div class="modal inset fade action-sheet ios-add-to-home" id="ios-add-to-home-screen" tabindex="-1"
                role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">홈화면에 추가</h5>
                            <a href="javascript:;" class="close-button" data-dismiss="modal">
                                <ion-icon name="close"></ion-icon>
                            </a>
                        </div>
                        <div class="modal-body">
                            <div class="action-sheet-content text-center">
                                <div class="mb-1"><img src="assets/img/icon/192x192.png" alt="image" class="imaged w48">
                                </div>
                                <h4>크레빌</h4>
                                <div>
                                    아래 버튼을 터치하면
                                </div>
                                <div>
                                    터치 <ion-icon name="share-outline"></ion-icon> 홈스크린으로 추가할 수 있습니다.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- android 모달 -->
            <div class="modal inset fade action-sheet android-add-to-home" id="android-add-to-home-screen" tabindex="-1"
                role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">홈화면에 추가</h5>
                            <a href="javascript:;" class="close-button" data-dismiss="modal">
                                <ion-icon name="close"></ion-icon>
                            </a>
                        </div>
                        <div class="modal-body">
                            <div class="action-sheet-content text-center">
                                <div class="mb-1"><img src="assets/img/icon/192x192.png" alt="image" class="imaged w48">
                                </div>
                                <h4>크레빌</h4>
                                <div>
                                    이 위치의 버튼을 터치하면
                                </div>
                                <div>
                                    터치 <ion-icon name="ellipsis-vertical"></ion-icon> 홈스크린으로 추가할 수 있습니다.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:replace="fragments/appFooter :: appFooterFragment"></th:block>
            <!-- * 바로가기 -->

            <!--floating button 추가 FAB-->
            <div class="fab-button animate bottom-right dropdown">
                <a href="#" class="fab" data-toggle="dropdown">
                    <ion-icon name="chevron-up-outline"></ion-icon>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="https://nid.naver.com/login/privacyQR">
                        <ion-icon name="qr-code-outline"></ion-icon>
                        <p>QR체크인</p>
                    </a>
                    <a class="dropdown-item" href="#">
                        <ion-icon name="arrow-up-outline"></ion-icon>
                        <p>TOP</p>
                    </a>
                </div>
            </div>
        </div>
</th:block>

</html>