<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/defaultLogin(scriptName='/assets/js/crevill/loginScript.js')}">

<th:block layout:fragment="content">
	<div id="appCapsule" class="pt-0">
		<div class="login-form mt-1">
			<br> <br>
			<div class="section">
				<img th:src="@{/assets/img/logo5.png}" alt="image" class="form-image">
			</div>
			<br>
			<br>
			<div class="section mt-1">
				<h1>로그인</h1>
				<h4>기존 크레빌회원은 휴대폰번호 입력 후 로그인을 터치해 주세요.</h4>
			</div>
			<br>
			<div class="section mt-1 mb-5">
				<form class="form theme-form" id="loginForm" @submit.prevent="validateBeforeSubmit" action="/login/login.proc" method="post" enctype="multipart/form-data">
					<div class="form-group boxed">
						<div class="input-wrapper">
							<input type="number" class="form-control" v-validate="'required'" id="cellPhone" name="cellPhone" placeholder="휴대폰번호">
							<i class="clear-input">
								<ion-icon name="close-circle"></ion-icon>
							</i>
						</div>
					</div>
					<div class="form-group boxed">
						<div class="input-wrapper">
							<input type="password" class="form-control" v-validate="'required'" id="password" name="password" placeholder="비밀번호를 입력해주세요.">
							<i class="clear-input">
								<ion-icon name="close-circle"></ion-icon>
							</i>
						</div>
					</div>
					<div class="form-links mt-2">
						<div>
							<a th:href="@{/member/termsAgree.view}">회원가입</a>
						</div>
						<div>
							<a th:href="@{/login/smsAuth.view}" class="text-muted">비밀번호 초기화</a>
						</div>
					</div>
					<div class="form-button-group">
						<button type="submit" class="btn btn-primary btn-block btn-lg" id="DialogLogin" data-role="dialog">로그인</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</th:block>
</html>