<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/defaultLogin(scriptName='/assets/js/crevill/passwordScript.js')}">

<th:block layout:fragment="content">
	<div id="appCapsule">
		<div class="login-form">
			<div class="section">
				<h1>비밀번호 초기설정</h1>
				<h4>비밀번호를 입력해주세요.</h4>
			</div>
			<div class="section mt-2 mb-5">
				<form class="form theme-form" id="passwordForm" @submit.prevent="validateBeforeSubmit" action="/login/passwordUpdate.proc" method="post" enctype="multipart/form-data">
					<input type="hidden" id="cellPhone" name="cellPhone" th:value="${cellPhone}">
					<div class="form-group boxed">
						<div class="input-wrapper">
							<input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력해주세요.">
							<i class="clear-input">
								<ion-icon name="close-circle"></ion-icon>
							</i>
						</div>
					</div>
					<div class="form-button-group">
						<button type="submit" class="btn btn-primary btn-block btn-lg">전송</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</th:block>
</html>