<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default(scriptName='/assets/js/crevill/entranceScript.js')}">

<th:block layout:fragment="content">
	<div class="page-body" id="page-body">
		<th:block th:replace="fragments/topIconMenu :: topIconMenuFragment(${menu})"></th:block>
		<!-- Container-fluid starts-->
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header">
							<h5 th:text="|${currentTime}시|"></h5>
							<!--현재 시간 기준으로 변경 시간대로 예약자 데이터 불러옴-->
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-xl-4 col-md-6" th:each="list : ${list}">
									<div class="prooduct-details-box">
										<div class="media">
											<div class="media-body ml-3">
												<div class="product-name">
													<h6 th:text="|고객명(${list.childrenName})|"></h6>
												</div>
												<div class="price d-flex">
													<div class="text-muted mr-2">클래스</div>
													<span th:text="| : ${list.playName}|"></span>
												</div>
												<div class="avaiabilty">
													<div class="text-success" th:text="${list.scheduleTime}"></div>
												</div>
												
												<th:block th:if="${list.entranceCount == '0'}">
													<a class="btn btn-primary btn-xs" th:attr="onclick=|entrance('${list.reservationId}')|" id="entranceText">입장대기</a>
												</th:block>
												<th:block th:unless="${list.entranceCount == '0'}">
													<a class="btn btn-primary btn-xs" id="entranceText">입장완료 </a>
												</th:block>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>