<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/defaultCommon}">

<th:block layout:fragment="content">
	<div id="appCapsule">
        <div class="section full mt-2 mb-2">
            <div class="section-title" th:text="|${currentYear}년 ${currentMonth}월|"></div>
            <div class="wide-block pt-2 pb-2">
                <div class="mb-1">
                	<th:block th:if="${info.etcFile1Idx != null}">
                	<img th:src="@{/common/getImage(imageIdx=${info.etcFile1Idx})}" class="imaged img-fluid" alt="스케쥴 이미지">
                	</th:block>
                	<th:block th:unless="${info.etcFile1Idx != null}">
                	등록된 매장시간표가 없습니다.
                	</th:block>
                </div>
            </div>
        </div>
    </div>
	<!-- * App Capsule -->
</th:block>
</html>