<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.crevill.branches.BranchesMapper">
	
	<select id="selectNoticeId" resultType="kr.co.crevill.branches.NoticeVo">
        SELECT NOTICE_ID_SEQ_NEXTVAL() NOTICE_ID
    </select>
	
	<select id="selectNoticeList" parameterType="kr.co.crevill.branches.NoticeDto" resultType="kr.co.crevill.branches.NoticeVo">
		SELECT A.NOTICE_ID,
			   A.TITLE,
			   CASE WHEN A.NOTICE_TYPE = 'BRANCHES' THEN '지점'
			        WHEN A.NOTICE_TYPE = 'ALL' THEN '전고객'
			        ELSE '잘못된 값' END AS NOTICE_TYPE,
			   A.CONTENTS,
			   A.REG_ID,
			   DATE_FORMAT(A.REG_DATE, '%Y/%m/%d') REG_DATE,
			   A.START_DATE,
			   A.END_DATE,
			   GROUP_CONCAT(CASE WHEN B.NOTICE_SEND_TYPE = 'KAKAO' THEN '카카오톡' ELSE '공지리스트' END SEPARATOR ',') NOTICE_SEND_TYPE,
			   A.BANNER_ID
		  FROM NOTICE A, 
		       NOTICE_SEND_TYPE B
		 WHERE A.NOTICE_ID  = B.NOTICE_ID 
		   AND A.NOTICE_TYPE = 'ALL'
      GROUP BY A.NOTICE_ID
      ORDER BY A.REG_DATE DESC
      <if test="limit != null and limit != ''">
      LIMIT #{limit}
      </if>
	</select>
	
	<insert id="insertNotice" parameterType="kr.co.crevill.branches.NoticeDto">
    	INSERT INTO NOTICE (
   							NOTICE_ID,
							TITLE,
							NOTICE_TYPE,
							CONTENTS,
							REG_ID,
							REG_DATE,
							START_DATE,
							END_DATE							
   						   )
				    VALUES (
				    		#{noticeId},
							#{title},
							#{noticeType},
							#{contents},
							#{regId},
							NOW(),
							#{startDate, jdbcType=VARCHAR},
							#{endDate, jdbcType=VARCHAR}
						   )
    </insert>
	
	<insert id="insertNoticeSendType" parameterType="kr.co.crevill.branches.NoticeDto">
    	INSERT INTO NOTICE_SEND_TYPE (
		   							  NOTICE_ID,
		   							  NOTICE_SEND_TYPE,
		   							  REG_ID,
		   							  REG_DATE						
		   						     )
						      VALUES (
						    		  #{noticeId},
									  #{noticeSendType},
									  #{regId},
									  NOW()
								     )
    </insert>
	
</mapper>