<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.crevill.common.CommonMapper">
	
    <select id="selectCommonCode" parameterType="kr.co.crevill.common.CommonCodeDto" resultType="kr.co.crevill.common.CommonCodeVo">
        SELECT CODE_TYPE,
        	   CODE_KEY,
        	   CODE_VALUE,
        	   REG_ID,
        	   REG_DATE,
        	   UPD_ID,
        	   UPD_DATE
          FROM COMMON_CODE
        <where>
			<if test="codeType != null">AND CODE_TYPE = #{codeType} </if>
			<if test="codeKey != null">AND CODE_KEY = #{codeKey} </if>
			<if test="codeValue != null">AND CODE_VALUE = #{codeValue} </if>
		</where>
    </select>
	
	 <select id="selectNationalCode" resultType="kr.co.crevill.common.CommonCodeVo">
        SELECT CODE_TYPE,
        	   CODE_KEY,
        	   CODE_VALUE,
        	   REG_ID,
        	   REG_DATE,
        	   UPD_ID,
        	   UPD_DATE,
        	   CASE WHEN CODE_KEY  = 'US' THEN 1
        	        WHEN CODE_KEY  = 'GB' THEN 2
        	        WHEN CODE_KEY  = 'CA' THEN 3
        	        WHEN CODE_KEY  = 'AU' THEN 4
        	        WHEN CODE_KEY  = 'HK' THEN 5
        	        WHEN CODE_KEY  = 'SG' THEN 6
        	        WHEN CODE_KEY  = 'ETC' THEN 7 END AS SORDER
          FROM COMMON_CODE
         WHERE CODE_TYPE = 'NATIONALITY'
      ORDER BY SORDER
    </select>
    
	<select id="selectImageInfo" parameterType="kr.co.crevill.common.FileDto" resultType="kr.co.crevill.common.FileVo">
		SELECT IMAGE_IDX,
			   DATA,
			   DESCRIPTION,
			   IMAGE_NAME,
			   IMAGE_SIZE
		  FROM IMAGES
	     WHERE IMAGE_IDX = #{imageIdx} 
	</select>
	
	<select id="selectImagesIdx" resultType="kr.co.crevill.common.FileVo">
		SELECT IFNULL(IMAGES_IDX_SEQ_NEXTVAL(), 1) IMAGE_IDX
	</select>
	
	<select id="selectFileIdx" resultType="kr.co.crevill.common.FileVo">
		SELECT IFNULL(FILES_IDX_SEQ_NEXTVAL(), 1) FILE_IDX
	</select>
	
	<insert id="insertImages" parameterType="kr.co.crevill.common.FileDto">
		INSERT INTO IMAGES(
						   IMAGE_IDX,
						   DATA,
						   DESCRIPTION,
						   IMAGE_NAME,
						   IMAGE_SIZE
						  )
				   VALUES (
				   		   #{imageIdx},
						   #{data},
						   #{description},
						   #{fileName},
						   #{fileSize}	
				   		  )		  
	</insert>
	
	<insert id="insertFiles" parameterType="kr.co.crevill.common.FileDto">
		INSERT INTO FILES(
						   FILE_IDX,
						   DATA,
						   DESCRIPTION,
						   FILE_NAME,
						   FILE_SIZE
						  )
				   VALUES (
				   		   #{fileIdx},
						   #{data},
						   #{description},
						   #{fileName},
						   #{fileSize}	
				   		  )		  
	</insert>
	
	<select id="selectStatInfo"  resultType="kr.co.crevill.common.CommonVo">
		SELECT FORMAT(A.VOUCHER_TIME_LEFT_HOUR, 0) VOUCHER_TIME_LEFT_HOUR,
		       FORMAT(A.RESERVATION_COUNT, 0) RESERVATION_COUNT,
		       FORMAT(A.MEMBER_COUNT, 0) MEMBER_COUNT,
		       FORMAT(A.TODAY_JOIN_MEMBER_COUNT, 0) TODAY_JOIN_MEMBER_COUNT,
		       <![CDATA[
		       FORMAT(A.TODAY_VOUCHER_SALE_PRICE, 0) TODAY_VOUCHER_SALE_PRICE,
		       FORMAT(A.YESTERDAY_VOUCHER_SALE_PRICE, 0) YESTERDAY_VOUCHER_SALE_PRICE,
		       CASE WHEN A.TODAY_VOUCHER_SALE_PRICE >= A.YESTERDAY_VOUCHER_SALE_PRICE THEN 'UP'
		            ELSE 'DOWN' END AS TODAY_ARROW,
		       FORMAT(A.LASTWEEK_VOUCHER_SALE_PRICE, 0) LASTWEEK_VOUCHER_SALE_PRICE,
		       FORMAT(A.LAST_TW_WEEK_VOUCHER_SALE_PRICE, 0) LAST_TW_WEEK_VOUCHER_SALE_PRICE,
		       CASE WHEN A.LASTWEEK_VOUCHER_SALE_PRICE >= A.LAST_TW_WEEK_VOUCHER_SALE_PRICE THEN 'UP'
		            ELSE 'DOWN' END AS WEEK_ARROW,
		       FORMAT(A.LASTMONTH_VOUCHER_SALE_PRICE, 0) LASTMONTH_VOUCHER_SALE_PRICE,
		       FORMAT(A.LAST_TW_MONTH_VOUCHER_SALE_PRICE, 0) LAST_TW_MONTH_VOUCHER_SALE_PRICE,
		       CASE WHEN A.LASTMONTH_VOUCHER_SALE_PRICE >= A.LAST_TW_MONTH_VOUCHER_SALE_PRICE THEN 'UP'
		            ELSE 'DOWN' END AS MOTHN_ARROW,
		       FORMAT(A.LASTYEAR_VOUCHER_SALE_PRICE, 0) LASTYEAR_VOUCHER_SALE_PRICE,
		       FORMAT(A.LAST_TW_YEAR_VOUCHER_SALE_PRICE, 0) LAST_TW_YEAR_VOUCHER_SALE_PRICE,
		       CASE WHEN A.LASTYEAR_VOUCHER_SALE_PRICE >= A.LAST_TW_YEAR_VOUCHER_SALE_PRICE THEN 'UP'
		            ELSE 'DOWN' END AS YEAR_ARROW
		       ]]>
		  FROM (
		SELECT IFNULL((SELECT SUM(TIME_LEFT_HOUR) FROM VOUCHER_USE_VIEW),0)  VOUCHER_TIME_LEFT_HOUR,
		       IFNULL((SELECT COUNT(*) FROM RESERVATION WHERE STATUS = '02'),0) RESERVATION_COUNT,
		       IFNULL((SELECT COUNT(*) FROM MEMBER_PARENT),0) MEMBER_COUNT,
		       IFNULL((SELECT COUNT(*) FROM MEMBER_PARENT WHERE DATE_FORMAT(REG_DATE, "%Y-%m-%d") = CURDATE()),0) TODAY_JOIN_MEMBER_COUNT,
		       IFNULL((SELECT SUM(SALE_PRICE) FROM VOUCHER WHERE VOUCHER_NO  IN (SELECT VOUCHER_NO FROM VOUCHER_SALE WHERE DATE_FORMAT(REG_DATE, "%Y-%m-%d") = CURDATE())),0) TODAY_VOUCHER_SALE_PRICE,
		       IFNULL((SELECT SUM(SALE_PRICE) FROM VOUCHER WHERE VOUCHER_NO  IN (SELECT VOUCHER_NO FROM VOUCHER_SALE WHERE DATE_FORMAT(DATE_ADD(REG_DATE, INTERVAL - 1 DAY), "%Y-%m-%d") = CURDATE())) ,0) YESTERDAY_VOUCHER_SALE_PRICE,
		       IFNULL((SELECT SUM(SALE_PRICE) FROM VOUCHER WHERE VOUCHER_NO  IN (SELECT VOUCHER_NO FROM VOUCHER_SALE WHERE REG_DATE BETWEEN STR_TO_DATE(CONCAT(DATE_FORMAT(DATE_ADD(REG_DATE, INTERVAL -7 DAY), "%Y%m%d"),'000000'), "%Y%m%d%H%i%S") AND NOW())),0) LASTWEEK_VOUCHER_SALE_PRICE, 
		       IFNULL((SELECT SUM(SALE_PRICE) FROM VOUCHER WHERE VOUCHER_NO  IN (SELECT VOUCHER_NO FROM VOUCHER_SALE WHERE REG_DATE BETWEEN STR_TO_DATE(CONCAT(DATE_FORMAT(DATE_ADD(REG_DATE, INTERVAL -14 DAY), "%Y%m%d"),'000000'), "%Y%m%d%H%i%S") AND STR_TO_DATE(CONCAT(DATE_FORMAT(DATE_ADD(REG_DATE, INTERVAL -7 DAY), "%Y%m%d"),'235959'), "%Y%m%d%H%i%S"))),0) LAST_TW_WEEK_VOUCHER_SALE_PRICE,
		       IFNULL((SELECT SUM(SALE_PRICE) FROM VOUCHER WHERE VOUCHER_NO  IN (SELECT VOUCHER_NO FROM VOUCHER_SALE WHERE REG_DATE BETWEEN STR_TO_DATE(CONCAT(DATE_FORMAT(DATE_ADD(REG_DATE, INTERVAL -1 MONTH), "%Y%m%d"),'000000'), "%Y%m%d%H%i%S") AND NOW())),0) LASTMONTH_VOUCHER_SALE_PRICE, 
		       IFNULL((SELECT SUM(SALE_PRICE) FROM VOUCHER WHERE VOUCHER_NO  IN (SELECT VOUCHER_NO FROM VOUCHER_SALE WHERE REG_DATE BETWEEN STR_TO_DATE(CONCAT(DATE_FORMAT(DATE_ADD(REG_DATE, INTERVAL -2 MONTH), "%Y%m%d"),'000000'), "%Y%m%d%H%i%S") AND STR_TO_DATE(CONCAT(DATE_FORMAT(DATE_ADD(REG_DATE, INTERVAL -1 MONTH), "%Y%m%d"),'235959'), "%Y%m%d%H%i%S"))),0) LAST_TW_MONTH_VOUCHER_SALE_PRICE,
		       IFNULL((SELECT SUM(SALE_PRICE) FROM VOUCHER WHERE VOUCHER_NO  IN (SELECT VOUCHER_NO FROM VOUCHER_SALE WHERE REG_DATE BETWEEN STR_TO_DATE(CONCAT(DATE_FORMAT(DATE_ADD(REG_DATE, INTERVAL -1 YEAR), "%Y%m%d"),'000000'), "%Y%m%d%H%i%S") AND NOW())),0) LASTYEAR_VOUCHER_SALE_PRICE, 
		       IFNULL((SELECT SUM(SALE_PRICE) FROM VOUCHER WHERE VOUCHER_NO  IN (SELECT VOUCHER_NO FROM VOUCHER_SALE WHERE REG_DATE BETWEEN STR_TO_DATE(CONCAT(DATE_FORMAT(DATE_ADD(REG_DATE, INTERVAL -2 YEAR), "%Y%m%d"),'000000'), "%Y%m%d%H%i%S") AND STR_TO_DATE(CONCAT(DATE_FORMAT(DATE_ADD(REG_DATE, INTERVAL -1 YEAR), "%Y%m%d"),'235959'), "%Y%m%d%H%i%S"))),0) LAST_TW_YEAR_VOUCHER_SALE_PRICE
		       ) A	
	</select>
	
	<select id="selectVoucherStatInfo"  resultType="kr.co.crevill.common.CommonVo">
		SELECT A.TICKET_NAME, 
			   FORMAT(((IFNULL(B.CNT,0) / A.CNT) * 100), 0) SALE_PER 
		  FROM (SELECT TICKET_NAME, COUNT(*) CNT FROM VOUCHER GROUP BY TICKET_NAME) A LEFT OUTER JOIN  
		       (SELECT TICKET_NAME, COUNT(*) CNT FROM VOUCHER WHERE STATUS IN ('04','12') GROUP BY TICKET_NAME) B 
		    ON A.TICKET_NAME = B.TICKET_NAME
	</select>

	<select id="selectTodayReservationInfo" parameterType="kr.co.crevill.common.CommonDto" resultType="kr.co.crevill.common.CommonVo">
		SELECT CASE WHEN A.CHILD_NAME != '' THEN A.CHILD_NAME 
            	    ELSE (SELECT NAME FROM MEMBER_PARENT WHERE CELL_PHONE = A.CELL_PHONE) END AS RESERVATION_NAME,
			   CASE WHEN LENGTH(A.CELL_PHONE) = 11 THEN CONCAT(SUBSTRING(A.CELL_PHONE,1,3),'-',SUBSTRING(A.CELL_PHONE,4,4),'-',SUBSTRING(A.CELL_PHONE,8,4))
            	    ELSE CONCAT(SUBSTRING(A.CELL_PHONE,1,3),'-',SUBSTRING(A.CELL_PHONE,4,3),'-',SUBSTRING(A.CELL_PHONE,7,4)) END AS CELL_PHONE,
		       DATE_FORMAT(B.SCHEDULE_START, '%Y/%m/%d') RESERVATION_DATE,
		       DATE_FORMAT(B.SCHEDULE_START, '%H:%i') RESERVATION_TIME,
		       (SELECT CODE_VALUE FROM COMMON_CODE WHERE CODE_TYPE = 'RESERVATION_STATUS' AND CODE_KEY = A.STATUS) RESERVATION_STATUS,
		       A.RESERVATION_ID,
		       (SELECT P.NAME FROM PLAY P WHERE P.PLAY_ID = B.PLAY_ID) PLAY_NAME,
		       (SELECT SUBSTRING_INDEX(S.STORE_NAME, ' ', - 1) FROM STORE S WHERE S.STORE_ID = B.STORE_ID) STORE_NAME_SHORT
		  FROM RESERVATION A,
		       SCHEDULE B
		 WHERE A.SCHEDULE_ID = B.SCHEDULE_ID
		   AND A.CELL_PHONE = #{cellPhone}
		   <if test="storeId != null and storeId != 'CST00001'.toString() and storeId != 'MOBILE'.toString()">
		   AND B.STORE_ID = #{storeId}
		   </if>
		   AND B.SCHEDULE_START BETWEEN DATE_FORMAT(STR_TO_DATE(CONCAT(DATE_FORMAT(NOW(),'%Y%m%d'), '000000'), '%Y%m%d%H%i%S'),'%Y-%m-%d %H:%i:%S') 
		                            AND DATE_FORMAT(STR_TO_DATE(CONCAT(DATE_FORMAT(NOW(),'%Y%m%d'), '235959'), '%Y%m%d%H%i%S'),'%Y-%m-%d %H:%i:%S')
		   <if test="reservationTime != null">
		   AND DATE_FORMAT(B.SCHEDULE_START, '%H') = #{reservationTime}
		   </if>
	  ORDER BY STORE_NAME_SHORT, B.SCHEDULE_START 	   
	</select>					
</mapper>