<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.crevill.entrance.EntranceMapper">
	
	<select id="selectEntranceList" parameterType="kr.co.crevill.entrance.EntranceDto" resultType="kr.co.crevill.entrance.EntranceVo">
        SELECT A.RESERVATION_ID,
			   CASE WHEN LENGTH(A.CELL_PHONE) = 11 THEN CONCAT(SUBSTRING(A.CELL_PHONE,1,3),'-',SUBSTRING(A.CELL_PHONE,4,4),'-',SUBSTRING(A.CELL_PHONE,8,4))
            	    ELSE CONCAT(SUBSTRING(A.CELL_PHONE,1,3),'-',SUBSTRING(A.CELL_PHONE,4,3),'-',SUBSTRING(A.CELL_PHONE,7,4)) END AS CELL_PHONE,
			   A.VOUCHER_NO,
			   A.SCHEDULE_ID,
			   CONCAT(DATE_FORMAT(B.SCHEDULE_START,'%H:%i'),'~',DATE_FORMAT(B.SCHEDULE_END,'%H:%i')) SCHEDULE_TIME, 
               B.NUMBER_OF_PEOPLE,
               B.TUTORING_NUMBER, 
			   A.STATUS,
			   A.REG_ID,
			   DATE_FORMAT(A.REG_DATE, '%Y/%m/%d') REG_DATE,
			   A.UPD_ID,
			   DATE_FORMAT(A.UPD_DATE, '%Y/%m/%d') UPD_DATE,
			   COUNT(*) RESERVATION_CNT,
			   FORMAT(((COUNT(*) / B.NUMBER_OF_PEOPLE) * 100), 0) AS RESERVATION_PER,
			   DATE_FORMAT(B.SCHEDULE_START,'%H%i') SCHEDULE_START,
			   D.NAME CHILD_NAME,
			   E.NAME PLAY_NAME,
			   C.QR_CODE MEMBER_QR_CODE,
			   (SELECT COUNT(*) FROM SCHEDULE_ENTRANCE_MEMBER SEM WHERE SEM.SCHEDULE_ID = A.SCHEDULE_ID AND C.QR_CODE = SEM.MEMBER_QR_CODE) ENTRANCE_COUNT
          FROM RESERVATION A,
               SCHEDULE B,
               MEMBER_PARENT C,
               MEMBER_CHILDREN D,
               PLAY E
         WHERE A.SCHEDULE_ID = B.SCHEDULE_ID
           AND A.CELL_PHONE = C.CELL_PHONE 
           AND C.CELL_PHONE = D.PARENT_CELL_PHONE
           AND B.PLAY_ID = E.PLAY_ID 
           AND DATE_FORMAT(B.SCHEDULE_START,'%Y%m%d%H') = DATE_FORMAT(NOW(),'%Y%m%d%H')
    </select>
	
	<select id="selectEntranceInfo" parameterType="kr.co.crevill.entrance.EntranceDto" resultType="kr.co.crevill.entrance.EntranceVo">
        SELECT A.RESERVATION_ID,
			   CASE WHEN LENGTH(A.CELL_PHONE) = 11 THEN CONCAT(SUBSTRING(A.CELL_PHONE,1,3),'-',SUBSTRING(A.CELL_PHONE,4,4),'-',SUBSTRING(A.CELL_PHONE,8,4))
            	    ELSE CONCAT(SUBSTRING(A.CELL_PHONE,1,3),'-',SUBSTRING(A.CELL_PHONE,4,3),'-',SUBSTRING(A.CELL_PHONE,7,4)) END AS CELL_PHONE,
			   A.VOUCHER_NO,
			   A.SCHEDULE_ID,
			   CONCAT(DATE_FORMAT(B.SCHEDULE_START,'%H:%i'),'~',DATE_FORMAT(B.SCHEDULE_END,'%H:%i')) SCHEDULE_TIME, 
               B.NUMBER_OF_PEOPLE,
               B.TUTORING_NUMBER, 
			   A.STATUS,
			   A.REG_ID,
			   DATE_FORMAT(A.REG_DATE, '%Y/%m/%d') REG_DATE,
			   A.UPD_ID,
			   DATE_FORMAT(A.UPD_DATE, '%Y/%m/%d') UPD_DATE,
			   COUNT(*) RESERVATION_CNT,
			   FORMAT(((COUNT(*) / B.NUMBER_OF_PEOPLE) * 100), 0) AS RESERVATION_PER,
			   DATE_FORMAT(B.SCHEDULE_START,'%H%i') SCHEDULE_START,
			   D.NAME CHILD_NAME,
			   D.BIRTHDAY CHILD_BIRTHDAY,
			   E.NAME PLAY_NAME,
			   C.QR_CODE MEMBER_QR_CODE,
			   E.PLAY_TIME,
			   D.SEX CHILD_SEX
          FROM RESERVATION A,
               SCHEDULE B,
               MEMBER_PARENT C,
               MEMBER_CHILDREN D,
               PLAY E
         WHERE A.RESERVATION_ID = #{reservationId}
           AND A.SCHEDULE_ID = B.SCHEDULE_ID
           AND A.CELL_PHONE = C.CELL_PHONE 
           AND C.CELL_PHONE = D.PARENT_CELL_PHONE
           AND B.PLAY_ID = E.PLAY_ID
    </select>
	
	<select id="selectNonMemberScheduleList" resultType="kr.co.crevill.entrance.EntranceVo">
		 SELECT SUB.SCHEDULE_ID,
                SUB.CNT RESERVATION_COUNT,
                (SUB.NUMBER_OF_PEOPLE - SUB.CNT) REMAIN_COUNT,
                SUB.NUMBER_OF_PEOPLE,
			    SUB.SCHEDULE_START,
			    SUB.NAME PLAY_NAME,
			    SUB.PLAY_TIME
           FROM (
				SELECT B.SCHEDULE_ID,
				       COUNT(A.RESERVATION_ID) CNT,
				       B.NUMBER_OF_PEOPLE,
				       B.SCHEDULE_START,
				       C.NAME,
				       C.PLAY_TIME 
				  FROM RESERVATION A,
				       (SELECT *
				          FROM SCHEDULE
				         WHERE SCHEDULE_START BETWEEN DATE_FORMAT(STR_TO_DATE(CONCAT(DATE_FORMAT(NOW(),'%Y%m%d') , '000000'), '%Y%m%d%H%i%S'),'%Y-%m-%d %H:%i:%S') 
		                                  AND DATE_FORMAT(STR_TO_DATE(CONCAT(DATE_FORMAT(NOW(),'%Y%m%d'), '235959'), '%Y%m%d%H%i%S'),'%Y-%m-%d %H:%i:%S')) B,
				       PLAY C
				 WHERE A.STATUS = '02'
				   AND A.SCHEDULE_ID  = B.SCHEDULE_ID
				   AND B.PLAY_ID = C.PLAY_ID 
				GROUP BY B.SCHEDULE_ID, B.NUMBER_OF_PEOPLE, B.SCHEDULE_START, C.NAME, C.PLAY_TIME 
			    ORDER BY ABS(DATEDIFF(NOW(), SCHEDULE_START)) ASC
		           LIMIT 1
		        ) SUB
	</select>
	
	<select id="selectNonMemberVoucherList" parameterType="kr.co.crevill.entrance.EntranceDto" resultType="kr.co.crevill.entrance.EntranceVo">
		SELECT A.VOUCHER_NO,
		       FORMAT(A.PRICE, 0) PRICE,
		       A.TICKET_NAME 
		  FROM VOUCHER A,
		       VOUCHER_ATTRIBUTE B
		 WHERE A.STATUS = '02'
		   <![CDATA[
		   AND A.END_DATE >= DATE_FORMAT(NOW(), '%Y%m%d')
		   ]]>
		   AND A.VOUCHER_NO  = B.VOUCHER_NO 
		   AND B.ATTRIBUTE = '비회원'
		   <if test="storeId != null and storeId != 'CST00001'.toString()">
           AND A.STORE_ID = #{storeId}
           </if>
	</select>
	
	<select id="checkVoucher" parameterType="kr.co.crevill.entrance.EntranceDto" resultType="kr.co.crevill.entrance.EntranceVo">
		SELECT <![CDATA[
		       CASE WHEN D.PLAY_TIME <= A.TIME_LEFT_MINUTE THEN 'Y'
	    	        ELSE 'N' END AS VOUCHER_AVAILABLE_YN,
	    	   ]]>     
		       D.PLAY_TIME,
		       A.TIME_LEFT_MINUTE 
		  FROM VOUCHER_USE_VIEW A,
		       RESERVATION B,
		       SCHEDULE C,
		       PLAY D
		 WHERE B.RESERVATION_ID = #{reservationId}
		   AND A.VOUCHER_NO = B.VOUCHER_NO
		   AND B.SCHEDULE_ID = C.SCHEDULE_ID 
		   AND C.PLAY_ID = D.PLAY_ID
	</select>
	
	<insert id="insertScheduleEntranceMember" parameterType="kr.co.crevill.entrance.EntranceDto">
		INSERT INTO SCHEDULE_ENTRANCE_MEMBER(
											 SCHEDULE_ID,
											 MEMBER_QR_CODE,
											 CHILD_NAME,
											 CELL_PHONE,
											 CHILD_BIRTHDAY,
											 CHILD_SEX,
											 REG_ID,
											 REG_DATE
											)
							         VALUES (
							         	     #{scheduleId},
							         	     #{memberQrCode},
							         	     #{childName},
							         	     #{cellPhone},
							         	     #{childBirthday},
							         	     #{childSex},
							         	     #{regId},
							         	     NOW()		
							         		)				
	</insert>
	
	<insert id="insertVoucherUse" parameterType="kr.co.crevill.entrance.EntranceDto">
		INSERT INTO VOUCHER_USE(
								VOUCHER_NO,
								USE_TIME,
								STATUS,
								SCHEDULE_ID,
								REG_ID,
								REG_DATE
							   )
				        VALUES (
				         	    #{voucherNo},
				         	    #{useTime},
				         	    #{status},
				         	    #{scheduleId},
				         	    #{regId},
				         	    NOW()		
				         	   )				
	</insert>
	
</mapper>