<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.crevill.member.MemberMapper">
	
	<select id="checkExistCellPhone" parameterType="kr.co.crevill.member.MemberDto" resultType="Integer">
        SELECT COUNT(*)
          FROM MEMBER_PARENT
         WHERE CELL_PHONE = #{cellPhone}
    </select>
	
	<select id="selectMemberInfo" parameterType="kr.co.crevill.member.MemberDto" resultType="kr.co.crevill.member.MemberVo">
    	SELECT NAME,
               CELL_PHONE,
               EMAIL,
               ADDRESS,
               QR_CODE,
               PASSWORD
    	  FROM MEMBER_PARENT
         WHERE CELL_PHONE = #{cellPhone} 
    </select>
	
	<update id="updateMemberParent" parameterType="kr.co.crevill.member.MemberDto">
    	UPDATE MEMBER_PARENT 
    	  <set>
	       	  <if test="parentName != null">NAME = #{parentName},</if>
	       	  <if test="email != null">EMAIL = #{email},</if>
	       	  <if test="address != null">ADDRESS = #{address},</if>
	       	  <if test="password != null">PASSWORD = #{password},</if>
	       	  UPD_ID = #{updId},
			  UPD_DATE = NOW()
       	  </set>
        WHERE CELL_PHONE = #{cellPhone} 
    </update>
	
</mapper>