<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.crevill.play.PlayMapper">
	
	<select id="selectPlayCount" parameterType="kr.co.crevill.play.PlayDto" resultType="Integer">
        SELECT COUNT(*)
          FROM PLAY
    </select>
	
    <select id="selectPlayList" parameterType="kr.co.crevill.play.PlayDto" resultType="kr.co.crevill.play.PlayVo">
        SELECT PLAY_ID,
		       NAME,
		       DESCRIPTION,
		       PLAY_TIME,
		       OPERATION_TYPE,
		       THUMBNAIL_IDX,
		       PICTURE_IDX,
		       REG_ID,
		       DATE_FORMAT(REG_DATE, '%Y/%m/%d') REG_DATE,
		       UPD_ID,
		       DATE_FORMAT(UPD_DATE, '%Y/%m/%d') UPD_DATE	
          FROM PLAY
        <where>
           <if test="operationType != null and operationType != 'BOTH'.toString()">
           AND OPERATION_TYPE = #{operationType}
           </if>
        </where>
    </select>
	
	<select id="selectPlayInfo" parameterType="kr.co.crevill.play.PlayDto" resultType="kr.co.crevill.play.PlayVo">
        SELECT PLAY_ID,
		       NAME,
		       DESCRIPTION,
		       PLAY_TIME,
		       OPERATION_TYPE,
		       THUMBNAIL_IDX,
		       PICTURE_IDX,
		       REG_ID,
		       DATE_FORMAT(REG_DATE, '%Y/%m/%d') REG_DATE,
		       UPD_ID,
		       DATE_FORMAT(UPD_DATE, '%Y/%m/%d') UPD_DATE	
          FROM PLAY
        <where>
           AND PLAY_ID = #{playId}
        </where>
    </select>
	
	<insert id="insertPlay" parameterType="kr.co.crevill.play.PlayDto">
    	INSERT INTO PLAY (
   					      PLAY_ID,
					      NAME,
					      DESCRIPTION,
					      PLAY_TIME,
					      OPERATION_TYPE,
					      THUMBNAIL_IDX,
					      PICTURE_IDX,
					      REG_ID,
					      REG_DATE						
   						 )
				  VALUES (
				  		  #{playId},
					      #{name},
					      #{description},
					      #{playTime},
					      #{operationType},
					      #{thumbnailIdx},
					      #{pictureIdx},
					      #{regId},
					      NOW()
				   		 )
    </insert>
	
	<update id="updatePlay" parameterType="kr.co.crevill.play.PlayDto">
    	UPDATE PLAY 
    	  <set>
    	   <if test="name != null">NAME = #{name},</if>
		   <if test="description != null">DESCRIPTION = #{description},</if>
		   <if test="playTime != null">PLAY_TIME = #{playTime},</if>
		   <if test="operationType != null">OPERATION_TYPE = #{operationType},</if>
		   <if test="thumbnailIdx != null">THUMBNAIL_IDX = #{thumbnailIdx},</if>
		   <if test="pictureIdx != null">PICTURE_IDX = #{pictureIdx},</if>
		   UPD_ID = #{updId},
		   UPD_DATE = NOW()
    	 </set>
    	 WHERE PLAY_ID = #{playId}
    </update>
	
	<delete id="deletePlay" parameterType="kr.co.crevill.play.PlayDto">
		DELETE 
		  FROM PLAY
		 WHERE PLAY_ID = #{playId}
	</delete>
	
</mapper>