<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.crevill.staff.StaffMapper">
	
	<select id="selectStaffCount" parameterType="kr.co.crevill.staff.StaffDto" resultType="Integer">
        SELECT COUNT(*)
          FROM STAFF_INFO
         WHERE STATUS = 'A'
    </select>
	
    <select id="selectStaffList" parameterType="kr.co.crevill.staff.StaffDto" resultType="kr.co.crevill.staff.StaffVo">
        SELECT NAME,
			   NAME_ENG,
			   CASE WHEN LENGTH(TEL_NO) = 11 THEN CONCAT(SUBSTRING(TEL_NO,1,3),'-',SUBSTRING(TEL_NO,4,4),'-',SUBSTRING(TEL_NO,8,4))
            	    ELSE CONCAT(SUBSTRING(TEL_NO,1,3),'-',SUBSTRING(TEL_NO,4,3),'-',SUBSTRING(TEL_NO,7,4)) END AS TEL_NO,
			   REPLACE(ADDRESS,'|','') ADDRESS,
			   DATE_FORMAT(START_DATE, '%Y/%m/%d') START_DATE,
			   (SELECT CODE_VALUE FROM COMMON_CODE WHERE CODE_KEY = WORKER_TYPE) WORKER_TYPE,
			   STAFF_GRADE,
			   (SELECT CODE_VALUE FROM COMMON_CODE WHERE CODE_KEY = STAFF_GRADE) STAFF_GRADE_NAME,
			   STORE_ID,
			   (SELECT STORE_NAME FROM STORE WHERE STORE_ID = STAFF_INFO.STORE_ID) STORE_NAME,
			   ID_PICTURE_IDX,
			   HEALTH_CERTIFICATE_IDX,
			   RESUME_IDX,
			   REG_DATE,
			   REG_ID,
			   UPD_DATE,
			   UPD_ID,
			   STAFF_ID,
			   CASE WHEN STATUS = 'A' THEN '근무'
			        ELSE '퇴근' END AS STATUS,
			   DATE_FORMAT(END_DATE, '%Y/%m/%d') END_DATE
          FROM STAFF_INFO
         WHERE STATUS = 'A' 
    </select>
	
	 <select id="selectStaffInfo" parameterType="kr.co.crevill.staff.StaffDto" resultType="kr.co.crevill.staff.StaffVo">
        SELECT NAME,
			   NAME_ENG,
			   TEL_NO,
			   REPLACE(ADDRESS,'|','') ADDRESS,
			   SUBSTRING_INDEX(ADDRESS, '|', 1) ROAD_ADDRESS,
			   CASE WHEN INSTR(ADDRESS,'|') > 0 THEN SUBSTRING_INDEX(ADDRESS, '|', -1)
			        ELSE '' END AS DETAIL_ADDRESS,
			   DATE_FORMAT(START_DATE, '%Y/%m/%d') START_DATE,
			   (SELECT CODE_VALUE FROM COMMON_CODE WHERE CODE_KEY = WORKER_TYPE) WORKER_TYPE,
			   STAFF_GRADE,
			   (SELECT CODE_VALUE FROM COMMON_CODE WHERE CODE_KEY = STAFF_GRADE) STAFF_GRADE_NAME,
			   STORE_ID,
			   (SELECT STORE_NAME from STORE where STORE_ID = STAFF_INFO.STORE_ID) STORE_NAME,
			   ID_PICTURE_IDX,
			   HEALTH_CERTIFICATE_IDX,
			   RESUME_IDX,
			   REG_DATE,
			   REG_ID,
			   UPD_DATE,
			   UPD_ID,
			   STAFF_ID,
			   CASE WHEN STATUS = 'A' THEN '근무'
			        ELSE '퇴근' END AS STATUS,
			   DATE_FORMAT(END_DATE, '%Y/%m/%d') END_DATE
          FROM STAFF_INFO
         WHERE STAFF_ID = #{staffId}
           AND STORE_ID = #{storeId}
           AND STATUS = 'A'
    </select>
	
	<select id="selectInstructorCount" parameterType="kr.co.crevill.staff.InstructorDto" resultType="Integer">
        SELECT COUNT(*)
          FROM NS_INSTRUCTOR
    </select>
	
	<select id="selectInstructorList" parameterType="kr.co.crevill.staff.InstructorDto" resultType="kr.co.crevill.staff.InstructorVo">
		SELECT NS_ID,
			   (SELECT CODE_VALUE FROM COMMON_CODE WHERE CODE_KEY = NATIONALITY) NATIONALITY,
			   NAME,
			   FULL_NAME,
			   TEL_NO,
			   REPLACE(ADDRESS,'|','') ADDRESS,
			   DATE_FORMAT(START_DATE, '%Y-%m-%d') START_DATE,
			   (SELECT STORE_NAME FROM STORE WHERE STORE_ID = NS_INSTRUCTOR.STORE_ID) STORE_ID,
			   PICTURE_IDX,
			   CRIMINAL_RECORDS_IDX,
			   RESUME_IDX,
			   REG_ID,
			   DATE_FORMAT(REG_DATE, '%Y-%m-%d') REG_DATE,
			   UPD_ID,
			   DATE_FORMAT(UPD_DATE, '%Y-%m-%d') UPD_DATE
          FROM NS_INSTRUCTOR
        <where>
           <if test="storeId != null and storeId != 'CST00001'.toString()">
           AND STORE_ID = #{storeId}
           </if>
       </where> 
	</select>
	
	<select id="selectInstructorInfo" parameterType="kr.co.crevill.staff.InstructorDto" resultType="kr.co.crevill.staff.InstructorVo">
		SELECT NS_ID,
			   (SELECT CODE_VALUE FROM COMMON_CODE WHERE CODE_KEY = NATIONALITY) NATIONALITY,
			   NAME,
			   FULL_NAME,
			   TEL_NO,
			   REPLACE(ADDRESS,'|','') ADDRESS,
			   SUBSTRING_INDEX(ADDRESS, '|', 1) ROAD_ADDRESS,
			   CASE WHEN INSTR(ADDRESS,'|') > 0 THEN SUBSTRING_INDEX(ADDRESS, '|', -1)
			        ELSE '' END AS DETAIL_ADDRESS,
			   START_DATE,
			   STORE_ID,
			   PICTURE_IDX,
			   CRIMINAL_RECORDS_IDX,
			   RESUME_IDX,
			   REG_ID,
			   DATE_FORMAT(REG_DATE, '%Y-%m-%d') REG_DATE,
			   UPD_ID,
			   DATE_FORMAT(UPD_DATE, '%Y-%m-%d') UPD_DATE
          FROM NS_INSTRUCTOR
         WHERE NS_ID = #{nsId} 
	</select>
	
	<select id="checkExistTelNo" parameterType="kr.co.crevill.staff.InstructorDto" resultType="Integer">
        SELECT COUNT(*)
          FROM NS_INSTRUCTOR
         WHERE TEL_NO = #{telNo}
         <if test="originTelNo != null and originTelNo != ''">
           AND TEL_NO != #{originTelNo}
         </if>
    </select>
	
	<insert id="insertStaffInfo" parameterType="kr.co.crevill.staff.StaffDto">
    	INSERT INTO STAFF_INFO (
   								NAME,
								NAME_ENG,
								TEL_NO,
								ADDRESS,
								START_DATE,
								WORKER_TYPE,
								STAFF_GRADE,
								STORE_ID,
								ID_PICTURE_IDX,
								HEALTH_CERTIFICATE_IDX,
								RESUME_IDX,
								REG_DATE,
								REG_ID,
								STAFF_ID,
								STATUS								
   							   )
						VALUES (
								#{name},
								#{nameEng},
								#{telNo},
								#{address},
								#{startDate},
								#{workerType},
								#{staffGrade},
								#{storeId},
								#{idPictureIdx, jdbcType=VARCHAR},
								#{healthCertificateIdx, jdbcType=VARCHAR},
								#{resumeIdx, jdbcType=VARCHAR},
								NOW(),
								#{regId},
								STAFF_ID_SEQ_NEXTVAL(),
								'A'
							   )
    </insert>
	
	<insert id="insertInstructorInfo" parameterType="kr.co.crevill.staff.InstructorDto">
		INSERT INTO NS_INSTRUCTOR(
								  NATIONALITY,
								  NAME,
								  FULL_NAME,
								  TEL_NO,
								  ADDRESS,
								  START_DATE,
								  STORE_ID,
								  PICTURE_IDX,
								  CRIMINAL_RECORDS_IDX,
								  RESUME_IDX,
								  REG_ID,
								  REG_DATE
								 )
					      VALUES (
					      		  #{nationality},
								  #{name},
								  #{fullName},
								  #{telNo},
								  #{address},
								  #{startDate},
								  #{storeId},
								  #{pictureIdx},
								  #{criminalRecordsIdx},
								  #{resumeIdx},
								  #{regId},
								  NOW()	
					      		 )			 
	</insert>
	
	<update id="updateStaffInfo" parameterType="kr.co.crevill.staff.StaffDto">
    	UPDATE STAFF_INFO 				
    	  <set>
       	   <if test="name != null">NAME = #{name},</if>
		   <if test="nameEng != null">NAME_ENG = #{nameEng},</if>
		   <if test="telNo != null">TEL_NO = #{telNo},</if>
		   <if test="address != null">ADDRESS = #{address},</if>
		   <if test="startDate != null">START_DATE = #{startDate},</if>
		   <if test="workerType != null">WORKER_TYPE = #{workerType},</if>
		   <if test="staffGrade != null">STAFF_GRADE = #{staffGrade},</if>
		   <if test="storeId != null">STORE_ID = #{storeId},</if>
		   <if test="idPictureIdx != null">ID_PICTURE_IDX = #{idPictureIdx, jdbcType=VARCHAR},</if>
		   <if test="healthCertificateIdx != null">HEALTH_CERTIFICATE_IDX = #{healthCertificateIdx, jdbcType=VARCHAR},</if>
		   <if test="resumeIdx != null">RESUME_IDX = #{resumeIdx, jdbcType=VARCHAR},</if>
		   <if test="status != null">STATUS = #{status},</if>
		   <if test="endDate != null">END_DATE = #{endDate},</if>
		   UPD_ID = #{updId},
		   UPD_DATE = NOW()
    	  </set>		
   		 WHERE STAFF_ID = #{staffId}					   
    </update>
	
	<update id="updateInstructorInfo" parameterType="kr.co.crevill.staff.InstructorDto">
    	UPDATE NS_INSTRUCTOR
    	   <set>
    	   <if test="nationality != null">NATIONALITY = #{nationality},</if>
       	   <if test="name != null">NAME = #{name},</if>
		   <if test="fullName != null">FULL_NAME = #{fullName},</if>
		   <if test="telNo != null">TEL_NO = #{telNo},</if>
		   <if test="address != null">ADDRESS = #{address},</if>
		   <if test="startDate != null">START_DATE = #{startDate},</if>
		   <if test="storeId != null">STORE_ID = #{storeId},</if>
		   <if test="pictureIdx != null">PICTURE_IDX = #{pictureIdx, jdbcType=VARCHAR},</if>
		   <if test="criminalRecordsIdx != null">CRIMINAL_RECORDS_IDX = #{criminalRecordsIdx, jdbcType=VARCHAR},</if>
		   <if test="resumeIdx != null">RESUME_IDX = #{resumeIdx, jdbcType=VARCHAR},</if>
		   UPD_ID = #{updId},
		   UPD_DATE = NOW()
    	  </set>		
   		 WHERE NS_ID = #{nsId}					   
    </update>
    
    <delete id="deleteStaffInfo" parameterType="kr.co.crevill.staff.StaffDto">
    	DELETE 
    	  FROM STAFF_INFO
    	 WHERE STAFF_ID = #{staffId}
    </delete>
    
    <delete id="deleteInstructorInfo" parameterType="kr.co.crevill.staff.InstructorDto">
    	DELETE 
    	  FROM NS_INSTRUCTOR
    	 WHERE NS_ID = #{nsId}
    </delete>
    
</mapper>